Data_Engineering_Python/Backup_Folders/nifi_templates_backup/ex06_03_my_SCF_everypage_withBackfilling_pipeline.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>8d21c527-0194-1000-5a0d-247c49076e53</groupId>
    <name>my_SCF_everypage_withBackfilling_pipeline</name>
    <snippet>
        <connections>
            <id>00cf20ef-d670-37ac-0000-000000000000</id>
            <parentGroupId>1284ade3-fb54-3892-0000-000000000000</parentGroupId>
            <versionedComponentId>00cf20ef-d670-37ac-8c14-c2efd78f70fd</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1284ade3-fb54-3892-0000-000000000000</groupId>
                <id>f6251fd2-cbaa-3ca0-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>f6251fd2-cbaa-3ca0-b6f3-353f7c5b7a7d</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1284ade3-fb54-3892-0000-000000000000</groupId>
                <id>3d238490-4bc9-3051-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>3d238490-4bc9-3051-85be-f0589640399a</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>1f41cca0-0e0d-334c-0000-000000000000</id>
            <parentGroupId>1284ade3-fb54-3892-0000-000000000000</parentGroupId>
            <versionedComponentId>1f41cca0-0e0d-334c-a3dc-294f9480eaf2</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1284ade3-fb54-3892-0000-000000000000</groupId>
                <id>86b77d50-0511-303c-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>86b77d50-0511-303c-bb19-65fe3dc2fe47</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1284ade3-fb54-3892-0000-000000000000</groupId>
                <id>331f0111-4412-37ef-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>331f0111-4412-37ef-9511-917c78bd3ae7</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>2fe6851d-e8a7-3bfd-0000-000000000000</id>
            <parentGroupId>1284ade3-fb54-3892-0000-000000000000</parentGroupId>
            <versionedComponentId>2fe6851d-e8a7-3bfd-ac99-5cc64a84e7ae</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1284ade3-fb54-3892-0000-000000000000</groupId>
                <id>f6251fd2-cbaa-3ca0-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>f6251fd2-cbaa-3ca0-b6f3-353f7c5b7a7d</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1284ade3-fb54-3892-0000-000000000000</groupId>
                <id>bdf272a3-829c-3a79-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>bdf272a3-829c-3a79-a21c-e03ea6a0e23a</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>4a57e9d4-7ed1-3ec0-0000-000000000000</id>
            <parentGroupId>1284ade3-fb54-3892-0000-000000000000</parentGroupId>
            <versionedComponentId>4a57e9d4-7ed1-3ec0-972e-e99e7c68c55e</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1284ade3-fb54-3892-0000-000000000000</groupId>
                <id>bdf272a3-829c-3a79-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>bdf272a3-829c-3a79-a21c-e03ea6a0e23a</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1284ade3-fb54-3892-0000-000000000000</groupId>
                <id>86b77d50-0511-303c-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>86b77d50-0511-303c-bb19-65fe3dc2fe47</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>54453d3e-453d-3de4-0000-000000000000</id>
            <parentGroupId>1284ade3-fb54-3892-0000-000000000000</parentGroupId>
            <versionedComponentId>54453d3e-453d-3de4-bdc0-9c41dba32492</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>550.80078125</x>
                <y>577.4276123046875</y>
            </bends>
            <bends>
                <x>550.80078125</x>
                <y>627.4276123046875</y>
            </bends>
            <destination>
                <groupId>1284ade3-fb54-3892-0000-000000000000</groupId>
                <id>bdf272a3-829c-3a79-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>bdf272a3-829c-3a79-a21c-e03ea6a0e23a</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1284ade3-fb54-3892-0000-000000000000</groupId>
                <id>bdf272a3-829c-3a79-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>bdf272a3-829c-3a79-a21c-e03ea6a0e23a</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>55b9aa74-667c-35d7-0000-000000000000</id>
            <parentGroupId>1284ade3-fb54-3892-0000-000000000000</parentGroupId>
            <versionedComponentId>55b9aa74-667c-35d7-96aa-ed8453030196</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1284ade3-fb54-3892-0000-000000000000</groupId>
                <id>bdf272a3-829c-3a79-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>bdf272a3-829c-3a79-a21c-e03ea6a0e23a</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1284ade3-fb54-3892-0000-000000000000</groupId>
                <id>3d238490-4bc9-3051-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>3d238490-4bc9-3051-85be-f0589640399a</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6d9e0b2f-63a9-3e71-0000-000000000000</id>
            <parentGroupId>1284ade3-fb54-3892-0000-000000000000</parentGroupId>
            <versionedComponentId>6d9e0b2f-63a9-3e71-a13a-5f12374d1190</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1284ade3-fb54-3892-0000-000000000000</groupId>
                <id>f6251fd2-cbaa-3ca0-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>f6251fd2-cbaa-3ca0-b6f3-353f7c5b7a7d</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1284ade3-fb54-3892-0000-000000000000</groupId>
                <id>86b77d50-0511-303c-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>86b77d50-0511-303c-bb19-65fe3dc2fe47</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e6ee62eb-0ea6-3b2b-0000-000000000000</id>
            <parentGroupId>1284ade3-fb54-3892-0000-000000000000</parentGroupId>
            <versionedComponentId>e6ee62eb-0ea6-3b2b-b28f-243517be498e</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1284ade3-fb54-3892-0000-000000000000</groupId>
                <id>2f6c6133-a222-38c2-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>2f6c6133-a222-38c2-9ab1-a01de5fda657</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1284ade3-fb54-3892-0000-000000000000</groupId>
                <id>7d6fd0f8-5813-3ac3-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>7d6fd0f8-5813-3ac3-9ecd-24ce7775c537</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f5d2bba9-1454-313e-0000-000000000000</id>
            <parentGroupId>1284ade3-fb54-3892-0000-000000000000</parentGroupId>
            <versionedComponentId>f5d2bba9-1454-313e-8f02-888f216682dc</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1284ade3-fb54-3892-0000-000000000000</groupId>
                <id>7d6fd0f8-5813-3ac3-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>7d6fd0f8-5813-3ac3-9ecd-24ce7775c537</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>split</selectedRelationships>
            <source>
                <groupId>1284ade3-fb54-3892-0000-000000000000</groupId>
                <id>f6251fd2-cbaa-3ca0-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>f6251fd2-cbaa-3ca0-b6f3-353f7c5b7a7d</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f885bfd8-d29c-396f-0000-000000000000</id>
            <parentGroupId>1284ade3-fb54-3892-0000-000000000000</parentGroupId>
            <versionedComponentId>f885bfd8-d29c-396f-9a3e-40b39f5dc704</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1284ade3-fb54-3892-0000-000000000000</groupId>
                <id>3d238490-4bc9-3051-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>3d238490-4bc9-3051-85be-f0589640399a</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>1284ade3-fb54-3892-0000-000000000000</groupId>
                <id>eba31de3-d7e6-300f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>eba31de3-d7e6-300f-b2ba-cda7011af7ff</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>fc6800d6-bf91-3b95-0000-000000000000</id>
            <parentGroupId>1284ade3-fb54-3892-0000-000000000000</parentGroupId>
            <versionedComponentId>fc6800d6-bf91-3b95-990d-c4786bc06434</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>1284ade3-fb54-3892-0000-000000000000</groupId>
                <id>8c273ebf-8942-38fc-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>8c273ebf-8942-38fc-b402-2b5ecec65f08</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>1284ade3-fb54-3892-0000-000000000000</groupId>
                <id>2f6c6133-a222-38c2-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>2f6c6133-a222-38c2-9ab1-a01de5fda657</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <processors>
            <id>2f6c6133-a222-38c2-0000-000000000000</id>
            <parentGroupId>1284ade3-fb54-3892-0000-000000000000</parentGroupId>
            <position>
                <x>544.0</x>
                <y>720.0</y>
            </position>
            <versionedComponentId>2f6c6133-a222-38c2-9ab1-a01de5fda657</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <dependencies>
<dependentValues>flowfile-attribute</dependentValues>
<propertyName>Destination</propertyName>
                            </dependencies>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max String Length</key>
                        <value>
                            <name>Max String Length</name>
                        </value>
                    </entry>
                    <entry>
                        <key>id</key>
                        <value>
                            <name>id</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>auto-detect</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>Max String Length</key>
                        <value>20 MB</value>
                    </entry>
                    <entry>
                        <key>id</key>
                        <value>$.id</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>331f0111-4412-37ef-0000-000000000000</id>
            <parentGroupId>1284ade3-fb54-3892-0000-000000000000</parentGroupId>
            <position>
                <x>224.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>331f0111-4412-37ef-9511-917c78bd3ae7</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>File Size</key>
                        <value>
                            <name>File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>
                            <name>Data Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>
                            <name>Unique FlowFiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>
                            <name>generate-ff-custom-text</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                        <value>
                            <name>mime-type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File Size</key>
                        <value>0B</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>Text</value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>8 h</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>My Start Flow Fake Data ARCHIVE</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
            <id>3d238490-4bc9-3051-0000-000000000000</id>
            <parentGroupId>1284ade3-fb54-3892-0000-000000000000</parentGroupId>
            <position>
                <x>1000.0</x>
                <y>256.0</y>
            </position>
            <versionedComponentId>3d238490-4bc9-3051-85be-f0589640399a</versionedComponentId>
            <bundle>
                <artifact>nifi-scripting-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Script Engine</key>
                        <value>
                            <name>Script Engine</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Script File</key>
                        <value>
                            <name>Script File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Script Body</key>
                        <value>
                            <name>Script Body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Module Directory</key>
                        <value>
                            <name>Module Directory</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Script Engine</key>
                        <value>Groovy</value>
                    </entry>
                    <entry>
                        <key>Script File</key>
                    </entry>
                    <entry>
                        <key>Script Body</key>
                        <value>import org.apache.nifi.processor.io.StreamCallback
import org.apache.commons.io.IOUtils
import java.nio.charset.StandardCharsets
import groovy.json.JsonSlurper
import groovy.json.JsonOutput

// Custom StreamCallback implementation
class ModJSON implements StreamCallback {
    @Override
    void process(InputStream inputStream, OutputStream outputStream) {
        def errorOccurred = false
        try {
            // Construct the API URL with parameters
            def placeUrl = "bernalillo-county"
            def perPage = 100
            def apiUrl = "https://seeclickfix.com/api/v2/issues?place_url=${placeUrl}&amp;per_page=${perPage}"

            // Make HTTP request and parse JSON response
            def connection = new URL(apiUrl).openConnection()
            connection.setRequestMethod("GET")
            connection.setRequestProperty("Accept", "application/json")
            connection.connect()

            def rawReply = connection.inputStream.text
            def jsonReply = new JsonSlurper().parseText(rawReply)

            // Write the JSON response to the output stream
            outputStream.write(JsonOutput.prettyPrint(JsonOutput.toJson(jsonReply)).getBytes(StandardCharsets.UTF_8))
        } catch (Exception e) {
            errorOccurred = true
            log.error("Error occurred while fetching data from API: ${e.message}", e)

            // Handle the error by writing a failure response
            def errorResponse = [error: "An error occurred during the script execution"]
            outputStream.write(JsonOutput.prettyPrint(JsonOutput.toJson(errorResponse)).getBytes(StandardCharsets.UTF_8))
        }
    }
}

// Main script logic
def flowFile = session.get()
if (flowFile != null) {
    try {
        flowFile = session.write(flowFile, new ModJSON())
        session.transfer(flowFile, REL_SUCCESS)
    } catch (Exception e) {
        log.error("Error processing FlowFile: ${e.message}", e)
        session.transfer(flowFile, REL_FAILURE)
    }
}</value>
                    </entry>
                    <entry>
                        <key>Module Directory</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>My Query SCF</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.script.ExecuteScript</type>
        </processors>
        <processors>
            <id>7d6fd0f8-5813-3ac3-0000-000000000000</id>
            <parentGroupId>1284ade3-fb54-3892-0000-000000000000</parentGroupId>
            <position>
                <x>1016.0</x>
                <y>728.0</y>
            </position>
            <versionedComponentId>7d6fd0f8-5813-3ac3-9ecd-24ce7775c537</versionedComponentId>
            <bundle>
                <artifact>nifi-scripting-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Script Engine</key>
                        <value>
                            <name>Script Engine</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Script File</key>
                        <value>
                            <name>Script File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Script Body</key>
                        <value>
                            <name>Script Body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Module Directory</key>
                        <value>
                            <name>Module Directory</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Script Engine</key>
                        <value>Groovy</value>
                    </entry>
                    <entry>
                        <key>Script File</key>
                    </entry>
                    <entry>
                        <key>Script Body</key>
                        <value>import groovy.json.JsonOutput
import groovy.json.JsonSlurper
import org.apache.nifi.processor.io.StreamCallback

class MyCoords implements StreamCallback {
    @Override
    void process(InputStream inputStream, OutputStream outputStream) {
        try {
            def inputText = inputStream.text
            def reply = new JsonSlurper().parseText(inputText)

            // Adding 'coords' field
            reply['coords'] = "${reply.lat},${reply.lng}"

            // Adding 'opendate' field
            def dateParts = reply.created_at?.split('T')
            reply['opendate'] = dateParts ? dateParts[0] : null

            outputStream.write(JsonOutput.prettyPrint(JsonOutput.toJson(reply)).bytes)
        } catch (Exception e) {
            throw new RuntimeException("Error processing JSON: " + e.message, e)
        }
    }
}

def flowFile = session.get()
if (flowFile != null) {
    try {
        flowFile = session.write(flowFile, new MyCoords())
        session.transfer(flowFile, REL_SUCCESS)
    } catch (Exception e) {
        log.error("Error processing FlowFile: ${e.message}", e)
        session.transfer(flowFile, REL_FAILURE)
    }
}</value>
                    </entry>
                    <entry>
                        <key>Module Directory</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>My coords</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.script.ExecuteScript</type>
        </processors>
        <processors>
            <id>86b77d50-0511-303c-0000-000000000000</id>
            <parentGroupId>1284ade3-fb54-3892-0000-000000000000</parentGroupId>
            <position>
                <x>352.0</x>
                <y>224.0</y>
            </position>
            <versionedComponentId>86b77d50-0511-303c-bb19-65fe3dc2fe47</versionedComponentId>
            <bundle>
                <artifact>nifi-scripting-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Script Engine</key>
                        <value>
                            <name>Script Engine</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Script File</key>
                        <value>
                            <name>Script File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Script Body</key>
                        <value>
                            <name>Script Body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Module Directory</key>
                        <value>
                            <name>Module Directory</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Script Engine</key>
                        <value>Groovy</value>
                    </entry>
                    <entry>
                        <key>Script File</key>
                    </entry>
                    <entry>
                        <key>Script Body</key>
                        <value>import org.apache.nifi.processor.io.StreamCallback
import org.apache.commons.io.IOUtils
import java.nio.charset.StandardCharsets
import groovy.json.JsonSlurper
import groovy.json.JsonOutput

// Custom StreamCallback implementation
class ModJSON implements StreamCallback {
    @Override
    void process(InputStream inputStream, OutputStream outputStream) {
        def errorOccurred = false
        try {
            // Construct the API URL with parameters
            def placeUrl = "bernalillo-county"
            def perPage = 100
            def status = "Archived"
            def apiUrl = "https://seeclickfix.com/api/v2/issues?place_url=${placeUrl}&amp;per_page=${perPage}&amp;status=${status}"

            // Make HTTP request and parse JSON response
            def connection = new URL(apiUrl).openConnection()
            connection.setRequestMethod("GET")
            connection.setRequestProperty("Accept", "application/json")
            connection.connect()

            def rawReply = connection.inputStream.text
            def jsonReply = new JsonSlurper().parseText(rawReply)

            // Write the JSON response to the output stream
            outputStream.write(JsonOutput.prettyPrint(JsonOutput.toJson(jsonReply)).getBytes(StandardCharsets.UTF_8))
        } catch (Exception e) {
            errorOccurred = true
            log.error("Error occurred while fetching data from API: ${e.message}", e)

            // Handle the error by writing a failure response
            def errorResponse = [error: "An error occurred during the script execution"]
            outputStream.write(JsonOutput.prettyPrint(JsonOutput.toJson(errorResponse)).getBytes(StandardCharsets.UTF_8))
        }
    }
}

// Main script logic
def flowFile = session.get()
if (flowFile != null) {
    try {
        flowFile = session.write(flowFile, new ModJSON())
        session.transfer(flowFile, REL_SUCCESS)
    } catch (Exception e) {
        log.error("Error processing FlowFile: ${e.message}", e)
        session.transfer(flowFile, REL_FAILURE)
    }
}</value>
                    </entry>
                    <entry>
                        <key>Module Directory</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>My Query SCF Archive</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.script.ExecuteScript</type>
        </processors>
        <processors>
            <id>8c273ebf-8942-38fc-0000-000000000000</id>
            <parentGroupId>1284ade3-fb54-3892-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>720.0</y>
            </position>
            <versionedComponentId>8c273ebf-8942-38fc-b402-2b5ecec65f08</versionedComponentId>
            <bundle>
                <artifact>nifi-elasticsearch-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>elasticsearch-http-url</key>
                        <value>
                            <name>elasticsearch-http-url</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-connect-timeout</key>
                        <value>
                            <name>elasticsearch-http-connect-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-response-timeout</key>
                        <value>
                            <name>elasticsearch-http-response-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-proxy-host</key>
                        <value>
                            <name>elasticsearch-http-proxy-host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-proxy-port</key>
                        <value>
                            <name>elasticsearch-http-proxy-port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-username</key>
                        <value>
                            <name>proxy-username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-password</key>
                        <value>
                            <name>proxy-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-id-attr</key>
                        <value>
                            <name>put-es-id-attr</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-index</key>
                        <value>
                            <name>put-es-index</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-type</key>
                        <value>
                            <name>put-es-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-batch-size</key>
                        <value>
                            <name>put-es-batch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-index-op</key>
                        <value>
                            <name>put-es-index-op</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>elasticsearch-http-url</key>
                        <value>http://localhost:9200</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Username</key>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-connect-timeout</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-response-timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-proxy-host</key>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-proxy-port</key>
                    </entry>
                    <entry>
                        <key>proxy-username</key>
                    </entry>
                    <entry>
                        <key>proxy-password</key>
                    </entry>
                    <entry>
                        <key>put-es-id-attr</key>
                        <value>id</value>
                    </entry>
                    <entry>
                        <key>put-es-index</key>
                        <value>scf</value>
                    </entry>
                    <entry>
                        <key>put-es-type</key>
                    </entry>
                    <entry>
                        <key>put-es-batch-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>put-es-index-op</key>
                        <value>upsert</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>My ElasticSCF</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp</type>
        </processors>
        <processors>
            <id>bdf272a3-829c-3a79-0000-000000000000</id>
            <parentGroupId>1284ade3-fb54-3892-0000-000000000000</parentGroupId>
            <position>
                <x>72.0</x>
                <y>552.0</y>
            </position>
            <versionedComponentId>bdf272a3-829c-3a79-a21c-e03ea6a0e23a</versionedComponentId>
            <bundle>
                <artifact>nifi-scripting-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Script Engine</key>
                        <value>
                            <name>Script Engine</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Script File</key>
                        <value>
                            <name>Script File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Script Body</key>
                        <value>
                            <name>Script Body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Module Directory</key>
                        <value>
                            <name>Module Directory</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Script Engine</key>
                        <value>Groovy</value>
                    </entry>
                    <entry>
                        <key>Script File</key>
                    </entry>
                    <entry>
                        <key>Script Body</key>
                        <value>import groovy.json.JsonOutput
import groovy.json.JsonSlurper
import org.apache.nifi.processor.io.StreamCallback

// Define a shared object to hold "global" variables
class GlobalState {
    static boolean errorOccurred = false
}

class GetEveryPage implements StreamCallback {
    @Override
    void process(InputStream inputStream, OutputStream outputStream) {
        try {
            def inputText = inputStream.text
            def asjson = new JsonSlurper().parseText(inputText)

            def pagination = asjson?.metadata?.pagination
            if (pagination?.page &amp;&amp; pagination.page &lt;= pagination.pages) {
                def url = pagination.next_page_url
                def connection = new URL(url).openConnection()
                def rawReply = connection.inputStream.text

                def reply = new JsonSlurper().parseText(rawReply)
                outputStream.write(JsonOutput.prettyPrint(JsonOutput.toJson(reply)).bytes)
            } else {
                global errorOccurred
                GlobalState.errorOccurred = true
                // log.info("Last page reached or pagination metadata missing.")
                outputStream.write(JsonOutput.prettyPrint(JsonOutput.toJson(asjson)).bytes)
            }
        } catch (Exception e) {
            GlobalState.errorOccurred = true
            throw new RuntimeException("Error fetching pages: " + e.message, e)
        }
    }
}

GlobalState.errorOccurred = false
def flowFile = session.get()
if (flowFile != null) {
    try {
        flowFile = session.write(flowFile, new GetEveryPage())
        if (GlobalState.errorOccurred) {
            session.transfer(flowFile, REL_FAILURE)
        } else {
            session.transfer(flowFile, REL_SUCCESS)
        }
    } catch (Exception e) {
        GlobalState.errorOccurred = true
        // log.error("Error processing FlowFile: ${e.message}", e)
        session.transfer(flowFile, REL_FAILURE)
    }
}</value>
                    </entry>
                    <entry>
                        <key>Module Directory</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>My Get Every Page</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.script.ExecuteScript</type>
        </processors>
        <processors>
            <id>eba31de3-d7e6-300f-0000-000000000000</id>
            <parentGroupId>1284ade3-fb54-3892-0000-000000000000</parentGroupId>
            <position>
                <x>992.0</x>
                <y>8.0</y>
            </position>
            <versionedComponentId>eba31de3-d7e6-300f-b2ba-cda7011af7ff</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>File Size</key>
                        <value>
                            <name>File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>
                            <name>Data Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>
                            <name>Unique FlowFiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>
                            <name>generate-ff-custom-text</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                        <value>
                            <name>mime-type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File Size</key>
                        <value>0B</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>Text</value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>8 h</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>My Start Flow Fake Data</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
            <id>f6251fd2-cbaa-3ca0-0000-000000000000</id>
            <parentGroupId>1284ade3-fb54-3892-0000-000000000000</parentGroupId>
            <position>
                <x>1016.0</x>
                <y>480.0</y>
            </position>
            <versionedComponentId>f6251fd2-cbaa-3ca0-b6f3-353f7c5b7a7d</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.28.1</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JsonPath Expression</key>
                        <value>
                            <name>JsonPath Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max String Length</key>
                        <value>
                            <name>Max String Length</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JsonPath Expression</key>
                        <value>$.issues</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>Max String Length</key>
                        <value>20 MB</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>SplitJson</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>split</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.SplitJson</type>
        </processors>
    </snippet>
    <timestamp>01/27/2025 12:49:42 CET</timestamp>
</template>
