CrickarDataEngPython/nifi_flow_definitions/CrickardProductionDataPipeline.json
{"flowContents":{"identifier":"786f407a-bc3e-3ed4-a3eb-a9e70e5715d6","instanceIdentifier":"d5eeaa2e-0194-1000-5a5d-a0a0540c86a7","name":"CrickardProductionDataPipeline","comments":"","position":{"x":-2840.0,"y":-1048.0},"processGroups":[{"identifier":"0cf3c1b5-9099-35d6-8c83-2d758ea47406","instanceIdentifier":"daca96bf-0194-1000-c988-9f0adc7c42a5","name":"QueryStaging","comments":"","position":{"x":-3000.0,"y":-960.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"adfcf228-9d9f-3aab-a76c-b6faf7b2c7bd","instanceIdentifier":"db29e59b-0194-1000-cf42-4568e50c0d18","name":"EvaluateJsonPath","comments":"","position":{"x":-3104.0,"y":-1088.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Destination":"flowfile-attribute","recordcount":"$.recordcount","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"recordcount":{"name":"recordcount","displayName":"recordcount","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0cf3c1b5-9099-35d6-8c83-2d758ea47406"},{"identifier":"c2445318-8543-3d10-b21c-9151e44f8973","instanceIdentifier":"dace195a-0194-1000-be09-c491525dac27","name":"Query Staging Count","comments":"","position":{"x":-3112.0,"y":-1288.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"5a1b6c13-715e-344e-91c4-07f18ad17a64","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"cf90ed41-debe-37c8-b12a-efbb7887ecd5","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT COUNT(*) AS recordcount FROM staging;","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0cf3c1b5-9099-35d6-8c83-2d758ea47406"},{"identifier":"230943b5-801a-35bd-bdea-944d8f36b027","instanceIdentifier":"db37821e-0194-1000-7767-6331e0ec1e23","name":"RouteOnAttribute","comments":"","position":{"x":-3112.0,"y":-896.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Routing Strategy":"Route to Property name","allrecords":"${recordcount:ge(1000)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"allrecords":{"name":"allrecords","displayName":"allrecords","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0cf3c1b5-9099-35d6-8c83-2d758ea47406"},{"identifier":"c9d533a9-0b13-36cd-8d58-283a48e4ac3e","instanceIdentifier":"32d432c3-c038-1da3-940c-6590ab2a1cc5","name":"UpdateCounter","comments":"","position":{"x":-2608.0,"y":-664.0},"type":"org.apache.nifi.processors.standard.UpdateCounter","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"counter-name":"LessThan1000","delta":"1"},"propertyDescriptors":{"counter-name":{"name":"counter-name","displayName":"Counter Name","identifiesControllerService":false,"sensitive":false},"delta":{"name":"delta","displayName":"Delta","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0cf3c1b5-9099-35d6-8c83-2d758ea47406"}],"inputPorts":[{"identifier":"4cbc8d71-9ce4-3838-8c94-d07807142704","instanceIdentifier":"dacd186d-0194-1000-7bf0-7502bfdd2e3f","name":"InputQuering","position":{"x":-3104.0,"y":-1432.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"0cf3c1b5-9099-35d6-8c83-2d758ea47406"}],"outputPorts":[{"identifier":"df678296-559c-3cb5-8be8-e5b3618bec3f","instanceIdentifier":"db39e4f1-0194-1000-1d0e-9574fe8dde00","name":"OutputQueryStaging","position":{"x":-3048.0,"y":-696.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"0cf3c1b5-9099-35d6-8c83-2d758ea47406"}],"connections":[{"identifier":"685f0fd9-5d86-354c-800f-780171e2eb47","instanceIdentifier":"dace338d-0194-1000-0dfb-3d809a8cee5f","name":"","source":{"id":"4cbc8d71-9ce4-3838-8c94-d07807142704","type":"INPUT_PORT","groupId":"0cf3c1b5-9099-35d6-8c83-2d758ea47406","name":"InputQuering","instanceIdentifier":"dacd186d-0194-1000-7bf0-7502bfdd2e3f"},"destination":{"id":"c2445318-8543-3d10-b21c-9151e44f8973","type":"PROCESSOR","groupId":"0cf3c1b5-9099-35d6-8c83-2d758ea47406","name":"Query Staging Count","comments":"","instanceIdentifier":"dace195a-0194-1000-be09-c491525dac27"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0cf3c1b5-9099-35d6-8c83-2d758ea47406"},{"identifier":"abd2af50-0240-3bf2-b6bf-24bcbcc38ea5","instanceIdentifier":"32d432c4-c038-1da3-6e8a-0c86dd6080d5","name":"","source":{"id":"230943b5-801a-35bd-bdea-944d8f36b027","type":"PROCESSOR","groupId":"0cf3c1b5-9099-35d6-8c83-2d758ea47406","name":"RouteOnAttribute","comments":"","instanceIdentifier":"db37821e-0194-1000-7767-6331e0ec1e23"},"destination":{"id":"c9d533a9-0b13-36cd-8d58-283a48e4ac3e","type":"PROCESSOR","groupId":"0cf3c1b5-9099-35d6-8c83-2d758ea47406","name":"UpdateCounter","comments":"","instanceIdentifier":"32d432c3-c038-1da3-940c-6590ab2a1cc5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0cf3c1b5-9099-35d6-8c83-2d758ea47406"},{"identifier":"53a6346a-aee2-3985-b004-d12cb76dd442","instanceIdentifier":"db3a9b2f-0194-1000-dc3c-01102ea7d89b","name":"","source":{"id":"230943b5-801a-35bd-bdea-944d8f36b027","type":"PROCESSOR","groupId":"0cf3c1b5-9099-35d6-8c83-2d758ea47406","name":"RouteOnAttribute","comments":"","instanceIdentifier":"db37821e-0194-1000-7767-6331e0ec1e23"},"destination":{"id":"df678296-559c-3cb5-8be8-e5b3618bec3f","type":"OUTPUT_PORT","groupId":"0cf3c1b5-9099-35d6-8c83-2d758ea47406","name":"OutputQueryStaging","instanceIdentifier":"db39e4f1-0194-1000-1d0e-9574fe8dde00"},"labelIndex":1,"zIndex":0,"selectedRelationships":["allrecords"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0cf3c1b5-9099-35d6-8c83-2d758ea47406"},{"identifier":"39596765-3dcb-3e32-bfc6-09f847411a70","instanceIdentifier":"db2a367b-0194-1000-ce2f-474f4902bef9","name":"","source":{"id":"c2445318-8543-3d10-b21c-9151e44f8973","type":"PROCESSOR","groupId":"0cf3c1b5-9099-35d6-8c83-2d758ea47406","name":"Query Staging Count","comments":"","instanceIdentifier":"dace195a-0194-1000-be09-c491525dac27"},"destination":{"id":"adfcf228-9d9f-3aab-a76c-b6faf7b2c7bd","type":"PROCESSOR","groupId":"0cf3c1b5-9099-35d6-8c83-2d758ea47406","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"db29e59b-0194-1000-cf42-4568e50c0d18"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0cf3c1b5-9099-35d6-8c83-2d758ea47406"},{"identifier":"2e413230-431e-3bec-b98e-af38200ae8d2","instanceIdentifier":"db37a6f8-0194-1000-bffa-9057c1830e4b","name":"","source":{"id":"adfcf228-9d9f-3aab-a76c-b6faf7b2c7bd","type":"PROCESSOR","groupId":"0cf3c1b5-9099-35d6-8c83-2d758ea47406","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"db29e59b-0194-1000-cf42-4568e50c0d18"},"destination":{"id":"230943b5-801a-35bd-bdea-944d8f36b027","type":"PROCESSOR","groupId":"0cf3c1b5-9099-35d6-8c83-2d758ea47406","name":"RouteOnAttribute","comments":"","instanceIdentifier":"db37821e-0194-1000-7767-6331e0ec1e23"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0cf3c1b5-9099-35d6-8c83-2d758ea47406"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"cf90ed41-debe-37c8-b12a-efbb7887ecd5","instanceIdentifier":"db0e4f43-0194-1000-f368-6fca8ad77f51","name":"QueryStagingCount","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.28.1"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"#{DatabaseDriverClassName}","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://localhost/#{database}","dbcp-time-between-eviction-runs":"-1","Database User":"#{postgres_username}","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{DatabaseDriverLocation}","dbcp-max-idle-conns":"8","Password":"#{postgres_password}"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0cf3c1b5-9099-35d6-8c83-2d758ea47406"},{"identifier":"5a1b6c13-715e-344e-91c4-07f18ad17a64","instanceIdentifier":"daec95db-0194-1000-dbd2-3f79c6d9c083","name":"DataLakeJsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"Allow Scientific Notation":"true","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"0cf3c1b5-9099-35d6-8c83-2d758ea47406"}],"variables":{},"parameterContextName":"DataLakeParams","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"786f407a-bc3e-3ed4-a3eb-a9e70e5715d6"},{"identifier":"385dba07-b173-3e59-9bfb-81b322a15a6a","instanceIdentifier":"db9cc053-0194-1000-db57-0b617e51882d","name":"ValidateStaging","comments":"","position":{"x":-3000.0,"y":-664.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"2c846afa-986d-3795-b4e0-09290ad472da","instanceIdentifier":"32d43288-c038-1da3-1b4f-6ab5cbe81502","name":"EvaluateJsonPath","comments":"","position":{"x":-3032.0,"y":-1096.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"result":"$.result","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"result":{"name":"result","displayName":"result","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"385dba07-b173-3e59-9bfb-81b322a15a6a"},{"identifier":"55bcb710-b0e7-3d7a-98fd-1a5f6a199312","instanceIdentifier":"32d43287-c038-1da3-1de6-6086ff427f47","name":"RouteOnAttribute","comments":"","position":{"x":-3024.0,"y":-888.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"fail":"${result:startsWith('fail')}","Routing Strategy":"Route to Property name","pass":"${result:startsWith('pass')}"},"propertyDescriptors":{"fail":{"name":"fail","displayName":"fail","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"pass":{"name":"pass","displayName":"pass","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"385dba07-b173-3e59-9bfb-81b322a15a6a"},{"identifier":"ac8b41aa-d1e9-31bd-8d54-c674c7ae910d","instanceIdentifier":"da3c33d9-850a-1a07-556c-6afc520b08cc","name":"Evaluate using Great Expectations","comments":"","position":{"x":-3032.0,"y":-1304.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":"application/json","Working Directory":"/home/vfilip/staging","Command Path":"/home/vfilip/airflow_env/bin/python","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/home/vfilip/staging/validate_nifi_staging.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"385dba07-b173-3e59-9bfb-81b322a15a6a"}],"inputPorts":[{"identifier":"6b986b02-4d28-3442-ba06-810089669ef0","instanceIdentifier":"db9d1e50-0194-1000-6949-aeab2edb03cc","name":"InputValidation","position":{"x":-3014.9297400729088,"y":-1431.7689235792147},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"385dba07-b173-3e59-9bfb-81b322a15a6a"}],"outputPorts":[{"identifier":"bcc80236-2e4b-3ebf-9318-1fae8019c544","instanceIdentifier":"32d4328c-c038-1da3-8e69-8abfc93b6ceb","name":"OutputValidationFail","position":{"x":-2576.0,"y":-1008.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"385dba07-b173-3e59-9bfb-81b322a15a6a"},{"identifier":"afb37903-ec73-3f91-81e8-f51bb6488cda","instanceIdentifier":"32d4328b-c038-1da3-e52c-36e8b0d446cc","name":"OutputValidationPass","position":{"x":-2878.9297400729088,"y":-676.7689235792147},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"385dba07-b173-3e59-9bfb-81b322a15a6a"}],"connections":[{"identifier":"86ee2e21-fca4-3c54-be7f-1ff212ef5bdb","instanceIdentifier":"32d43289-c038-1da3-61d0-b46d2bc9ef63","name":"","source":{"id":"ac8b41aa-d1e9-31bd-8d54-c674c7ae910d","type":"PROCESSOR","groupId":"385dba07-b173-3e59-9bfb-81b322a15a6a","name":"Evaluate using Great Expectations","comments":"","instanceIdentifier":"da3c33d9-850a-1a07-556c-6afc520b08cc"},"destination":{"id":"2c846afa-986d-3795-b4e0-09290ad472da","type":"PROCESSOR","groupId":"385dba07-b173-3e59-9bfb-81b322a15a6a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"32d43288-c038-1da3-1b4f-6ab5cbe81502"},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"385dba07-b173-3e59-9bfb-81b322a15a6a"},{"identifier":"55202099-7490-39d2-8c72-58e78a0e61c7","instanceIdentifier":"da3c33da-850a-1a07-ce18-52439115cbbc","name":"","source":{"id":"6b986b02-4d28-3442-ba06-810089669ef0","type":"INPUT_PORT","groupId":"385dba07-b173-3e59-9bfb-81b322a15a6a","name":"InputValidation","instanceIdentifier":"db9d1e50-0194-1000-6949-aeab2edb03cc"},"destination":{"id":"ac8b41aa-d1e9-31bd-8d54-c674c7ae910d","type":"PROCESSOR","groupId":"385dba07-b173-3e59-9bfb-81b322a15a6a","name":"Evaluate using Great Expectations","comments":"","instanceIdentifier":"da3c33d9-850a-1a07-556c-6afc520b08cc"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"385dba07-b173-3e59-9bfb-81b322a15a6a"},{"identifier":"d85d714c-2cb0-3b07-8d24-cd0954c1e277","instanceIdentifier":"32d4328a-c038-1da3-70d5-eb9951bfd5d8","name":"","source":{"id":"2c846afa-986d-3795-b4e0-09290ad472da","type":"PROCESSOR","groupId":"385dba07-b173-3e59-9bfb-81b322a15a6a","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"32d43288-c038-1da3-1b4f-6ab5cbe81502"},"destination":{"id":"55bcb710-b0e7-3d7a-98fd-1a5f6a199312","type":"PROCESSOR","groupId":"385dba07-b173-3e59-9bfb-81b322a15a6a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"32d43287-c038-1da3-1de6-6086ff427f47"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"385dba07-b173-3e59-9bfb-81b322a15a6a"},{"identifier":"b9f320f1-4962-3780-8240-9c0379f8f47f","instanceIdentifier":"32d4328d-c038-1da3-0e6e-b6e0c0db19e5","name":"","source":{"id":"55bcb710-b0e7-3d7a-98fd-1a5f6a199312","type":"PROCESSOR","groupId":"385dba07-b173-3e59-9bfb-81b322a15a6a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"32d43287-c038-1da3-1de6-6086ff427f47"},"destination":{"id":"bcc80236-2e4b-3ebf-9318-1fae8019c544","type":"OUTPUT_PORT","groupId":"385dba07-b173-3e59-9bfb-81b322a15a6a","name":"OutputValidationFail","instanceIdentifier":"32d4328c-c038-1da3-8e69-8abfc93b6ceb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["fail"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"385dba07-b173-3e59-9bfb-81b322a15a6a"},{"identifier":"1f5804c5-9ce1-36f4-abef-4e6d875421ed","instanceIdentifier":"32d4328e-c038-1da3-f680-53a09625ca0f","name":"","source":{"id":"55bcb710-b0e7-3d7a-98fd-1a5f6a199312","type":"PROCESSOR","groupId":"385dba07-b173-3e59-9bfb-81b322a15a6a","name":"RouteOnAttribute","comments":"","instanceIdentifier":"32d43287-c038-1da3-1de6-6086ff427f47"},"destination":{"id":"afb37903-ec73-3f91-81e8-f51bb6488cda","type":"OUTPUT_PORT","groupId":"385dba07-b173-3e59-9bfb-81b322a15a6a","name":"OutputValidationPass","instanceIdentifier":"32d4328b-c038-1da3-e52c-36e8b0d446cc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["pass"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"385dba07-b173-3e59-9bfb-81b322a15a6a"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"786f407a-bc3e-3ed4-a3eb-a9e70e5715d6"},{"identifier":"34060ae0-a60a-37a9-a38b-bca43d7ff661","instanceIdentifier":"d6a0d309-0194-1000-9c33-edc84644a4f2","name":"InsertStaging","comments":"","position":{"x":-2360.0,"y":-960.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"2c348b58-b828-352e-a181-da6a3511315e","instanceIdentifier":"d6a40464-0194-1000-5e76-67edfc8a16c0","name":"Insert into Staging","comments":"","position":{"x":-3000.0,"y":-1256.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":"INSERT INTO staging (userid, name, age, street, city, state, zip)\nVALUES ('${userid}', '${name}', '${age}', '${street}', '${city}', '${state}', '${zip}')\nON CONFLICT (userid) DO UPDATE \nSET name = EXCLUDED.name,\n    age = EXCLUDED.age,\n    street = EXCLUDED.street,\n    city = EXCLUDED.city,\n    state = EXCLUDED.state,\n    zip = EXCLUDED.zip;","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"0d4a0600-3bb0-3c00-8781-08e2fe834cc0","database-session-autocommit":"false","rollback-on-failure":"true"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"34060ae0-a60a-37a9-a38b-bca43d7ff661"},{"identifier":"6b6efed6-f6c2-3da5-b391-c09dd2e2ad14","instanceIdentifier":"d6b5cf60-0194-1000-9f4a-f95ed9c387ba","name":"UpdateCounter","comments":"","position":{"x":-2992.0,"y":-1064.0},"type":"org.apache.nifi.processors.standard.UpdateCounter","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"counter-name":"InsertedStaging","delta":"1"},"propertyDescriptors":{"counter-name":{"name":"counter-name","displayName":"Counter Name","identifiesControllerService":false,"sensitive":false},"delta":{"name":"delta","displayName":"Delta","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"34060ae0-a60a-37a9-a38b-bca43d7ff661"}],"inputPorts":[{"identifier":"6186407e-1574-3730-868d-5270885ce51e","instanceIdentifier":"d6a2bd93-0194-1000-2fff-da7d8b774a06","name":"InputStaging","position":{"x":-2969.9297400729088,"y":-1403.7689235792147},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"34060ae0-a60a-37a9-a38b-bca43d7ff661"}],"outputPorts":[{"identifier":"a3d080c6-6637-38cd-bafa-4f65b979b13a","instanceIdentifier":"d6b677da-0194-1000-129c-813fc793c67b","name":"OutputStaging","position":{"x":-2904.0,"y":-856.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"34060ae0-a60a-37a9-a38b-bca43d7ff661"}],"connections":[{"identifier":"2210184e-4379-34b1-8b83-c92645a3706f","instanceIdentifier":"d6b58d6c-0194-1000-437d-e4289db8d9a7","name":"","source":{"id":"6186407e-1574-3730-868d-5270885ce51e","type":"INPUT_PORT","groupId":"34060ae0-a60a-37a9-a38b-bca43d7ff661","name":"InputStaging","instanceIdentifier":"d6a2bd93-0194-1000-2fff-da7d8b774a06"},"destination":{"id":"2c348b58-b828-352e-a181-da6a3511315e","type":"PROCESSOR","groupId":"34060ae0-a60a-37a9-a38b-bca43d7ff661","name":"Insert into Staging","comments":"","instanceIdentifier":"d6a40464-0194-1000-5e76-67edfc8a16c0"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"34060ae0-a60a-37a9-a38b-bca43d7ff661"},{"identifier":"b80b4649-5819-330b-a35b-be35b34429e8","instanceIdentifier":"d6b68f70-0194-1000-c7d2-e8035ec64c1f","name":"","source":{"id":"6b6efed6-f6c2-3da5-b391-c09dd2e2ad14","type":"PROCESSOR","groupId":"34060ae0-a60a-37a9-a38b-bca43d7ff661","name":"UpdateCounter","comments":"","instanceIdentifier":"d6b5cf60-0194-1000-9f4a-f95ed9c387ba"},"destination":{"id":"a3d080c6-6637-38cd-bafa-4f65b979b13a","type":"OUTPUT_PORT","groupId":"34060ae0-a60a-37a9-a38b-bca43d7ff661","name":"OutputStaging","instanceIdentifier":"d6b677da-0194-1000-129c-813fc793c67b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"34060ae0-a60a-37a9-a38b-bca43d7ff661"},{"identifier":"0c28a331-4549-31db-98cf-b43fa73b1ab8","instanceIdentifier":"d6b61bcc-0194-1000-a69b-cf55d07c9dd4","name":"","source":{"id":"2c348b58-b828-352e-a181-da6a3511315e","type":"PROCESSOR","groupId":"34060ae0-a60a-37a9-a38b-bca43d7ff661","name":"Insert into Staging","comments":"","instanceIdentifier":"d6a40464-0194-1000-5e76-67edfc8a16c0"},"destination":{"id":"6b6efed6-f6c2-3da5-b391-c09dd2e2ad14","type":"PROCESSOR","groupId":"34060ae0-a60a-37a9-a38b-bca43d7ff661","name":"UpdateCounter","comments":"","instanceIdentifier":"d6b5cf60-0194-1000-9f4a-f95ed9c387ba"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"34060ae0-a60a-37a9-a38b-bca43d7ff661"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"0d4a0600-3bb0-3c00-8781-08e2fe834cc0","instanceIdentifier":"d6aec1a4-0194-1000-72ab-d7cbd9265d68","name":"InstertTest","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.28.1"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"#{DatabaseDriverClassName}","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://localhost/#{database}","dbcp-time-between-eviction-runs":"-1","Database User":"#{postgres_username}","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{DatabaseDriverLocation}","dbcp-max-idle-conns":"8","Password":"#{postgres_password}"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"34060ae0-a60a-37a9-a38b-bca43d7ff661"}],"variables":{},"parameterContextName":"DataLakeParams","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"786f407a-bc3e-3ed4-a3eb-a9e70e5715d6"},{"identifier":"2f74398a-52db-37e4-8218-c7c3d7843ae0","instanceIdentifier":"d5efd882-0194-1000-3b23-836742dd40fc","name":"ReadDataLake","comments":"","position":{"x":-3000.0,"y":-1264.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"9ee1b5d1-77a6-3a51-916c-fe31b3d150ae","instanceIdentifier":"d6056ea7-0194-1000-76c3-48de567684c4","name":"EvaluateJsonPath","comments":"","position":{"x":-2936.0,"y":-1096.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"zip":"$.zip","Destination":"flowfile-attribute","Max String Length":"20 MB","city":"$.city","street":"$.street","Return Type":"auto-detect","name":"$.name","Null Value Representation":"empty string","state":"$.state","userid":"$.userid","age":"$.age","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"zip":{"name":"zip","displayName":"zip","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"city":{"name":"city","displayName":"city","identifiesControllerService":false,"sensitive":false},"street":{"name":"street","displayName":"street","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"name":{"name":"name","displayName":"name","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"state":{"name":"state","displayName":"state","identifiesControllerService":false,"sensitive":false},"userid":{"name":"userid","displayName":"userid","identifiesControllerService":false,"sensitive":false},"age":{"name":"age","displayName":"age","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f74398a-52db-37e4-8218-c7c3d7843ae0"},{"identifier":"82265182-6d92-3a84-a04a-99516dcd251d","instanceIdentifier":"d5f09075-0194-1000-064b-7542e40773b6","name":"Read Data Lake","comments":"","position":{"x":-2944.0,"y":-1312.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/home/vfilip/datalake","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"^.*\\.([jJ][sS][oO][nN])$","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f74398a-52db-37e4-8218-c7c3d7843ae0"},{"identifier":"0efc135a-72bb-378f-b587-c68f9a941d35","instanceIdentifier":"d62ee2db-0194-1000-15a4-a27bff284073","name":"UpdateCounter","comments":"","position":{"x":-2944.0,"y":-864.0},"type":"org.apache.nifi.processors.standard.UpdateCounter","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"counter-name":"dataLakeRecordsProcessed","delta":"1"},"propertyDescriptors":{"counter-name":{"name":"counter-name","displayName":"Counter Name","identifiesControllerService":false,"sensitive":false},"delta":{"name":"delta","displayName":"Delta","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"2f74398a-52db-37e4-8218-c7c3d7843ae0"}],"inputPorts":[],"outputPorts":[{"identifier":"8e9e132c-e479-33cd-9493-8d7142e0fe8f","instanceIdentifier":"d63485ed-0194-1000-9cc7-f3af8f978a67","name":"OutputDataLake","position":{"x":-2904.0,"y":-648.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"2f74398a-52db-37e4-8218-c7c3d7843ae0"}],"connections":[{"identifier":"213cf659-2b77-356a-9a66-dcdb713330d0","instanceIdentifier":"d6059247-0194-1000-fb82-a191079c06a3","name":"","source":{"id":"82265182-6d92-3a84-a04a-99516dcd251d","type":"PROCESSOR","groupId":"2f74398a-52db-37e4-8218-c7c3d7843ae0","name":"Read Data Lake","comments":"","instanceIdentifier":"d5f09075-0194-1000-064b-7542e40773b6"},"destination":{"id":"9ee1b5d1-77a6-3a51-916c-fe31b3d150ae","type":"PROCESSOR","groupId":"2f74398a-52db-37e4-8218-c7c3d7843ae0","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"d6056ea7-0194-1000-76c3-48de567684c4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f74398a-52db-37e4-8218-c7c3d7843ae0"},{"identifier":"f8b01584-b06f-3650-b954-1939dd0d4e27","instanceIdentifier":"d62fcdbc-0194-1000-66bc-bc8e11c8266f","name":"","source":{"id":"9ee1b5d1-77a6-3a51-916c-fe31b3d150ae","type":"PROCESSOR","groupId":"2f74398a-52db-37e4-8218-c7c3d7843ae0","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"d6056ea7-0194-1000-76c3-48de567684c4"},"destination":{"id":"0efc135a-72bb-378f-b587-c68f9a941d35","type":"PROCESSOR","groupId":"2f74398a-52db-37e4-8218-c7c3d7843ae0","name":"UpdateCounter","comments":"","instanceIdentifier":"d62ee2db-0194-1000-15a4-a27bff284073"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f74398a-52db-37e4-8218-c7c3d7843ae0"},{"identifier":"ba472d6f-0608-3e4b-b5f4-98218fd036b3","instanceIdentifier":"d63499d1-0194-1000-0fae-190e4787f91e","name":"","source":{"id":"0efc135a-72bb-378f-b587-c68f9a941d35","type":"PROCESSOR","groupId":"2f74398a-52db-37e4-8218-c7c3d7843ae0","name":"UpdateCounter","comments":"","instanceIdentifier":"d62ee2db-0194-1000-15a4-a27bff284073"},"destination":{"id":"8e9e132c-e479-33cd-9493-8d7142e0fe8f","type":"OUTPUT_PORT","groupId":"2f74398a-52db-37e4-8218-c7c3d7843ae0","name":"OutputDataLake","instanceIdentifier":"d63485ed-0194-1000-9cc7-f3af8f978a67"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"2f74398a-52db-37e4-8218-c7c3d7843ae0"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"786f407a-bc3e-3ed4-a3eb-a9e70e5715d6"},{"identifier":"7ec30718-850e-3b2b-87f9-01498921ddf5","instanceIdentifier":"d64989d7-0194-1000-6cd4-18f8d8baa72c","name":"ScanLake","comments":"","position":{"x":-2368.0,"y":-1264.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"02223fa1-6deb-35ce-b1e2-fbf7788cc37f","instanceIdentifier":"d64afcb5-0194-1000-1c88-a636a22c1dce","name":"ScanContent","comments":"","position":{"x":-2752.0,"y":-1272.0},"type":"org.apache.nifi.processors.standard.ScanContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Dictionary Encoding":"text","Dictionary File":"/home/vfilip/Documents/data_engineering/Programming4DataEngineering/CrickarDataEngPython/chapter_11/data.txt"},"propertyDescriptors":{"Dictionary Encoding":{"name":"Dictionary Encoding","displayName":"Dictionary Encoding","identifiesControllerService":false,"sensitive":false},"Dictionary File":{"name":"Dictionary File","displayName":"Dictionary File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7ec30718-850e-3b2b-87f9-01498921ddf5"},{"identifier":"5398f62d-b0ee-33d2-8344-ee00542c23d4","instanceIdentifier":"d65a82aa-0194-1000-f812-939911da2b28","name":"PutSlack","comments":"","position":{"x":-2744.0,"y":-760.0},"type":"org.apache.nifi.processors.slack.PutSlack","bundle":{"group":"org.apache.nifi","artifact":"nifi-slack-nar","version":"1.28.1"},"properties":{"icon-emoji":":robot_face:","SSL Context Service":null,"webhook-url":"#{SlackWebhookURL}","webhook-text":"Alert: VIP customer detected in Data Lake - ${name}","channel":"#studying-data-engineering","icon-url":null,"username":"NiFi Bot"},"propertyDescriptors":{"icon-emoji":{"name":"icon-emoji","displayName":"Icon Emoji","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"webhook-url":{"name":"webhook-url","displayName":"Webhook URL","identifiesControllerService":false,"sensitive":true},"webhook-text":{"name":"webhook-text","displayName":"Webhook Text","identifiesControllerService":false,"sensitive":false},"channel":{"name":"channel","displayName":"Channel","identifiesControllerService":false,"sensitive":false},"icon-url":{"name":"icon-url","displayName":"Icon URL","identifiesControllerService":false,"sensitive":false},"username":{"name":"username","displayName":"Username","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7ec30718-850e-3b2b-87f9-01498921ddf5"},{"identifier":"21b40cba-2488-304b-8317-6fb41ced2dd4","instanceIdentifier":"d6619c5c-0194-1000-8d3f-dbc990144b97","name":"UpdateCounter","comments":"","position":{"x":-2744.0,"y":-992.0},"type":"org.apache.nifi.processors.standard.UpdateCounter","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"counter-name":"VIPcustomerOccurences","delta":"1"},"propertyDescriptors":{"counter-name":{"name":"counter-name","displayName":"Counter Name","identifiesControllerService":false,"sensitive":false},"delta":{"name":"delta","displayName":"Delta","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7ec30718-850e-3b2b-87f9-01498921ddf5"}],"inputPorts":[{"identifier":"708e5279-2f45-38cf-989d-534756684351","instanceIdentifier":"d64a2e2c-0194-1000-e189-3d8a02c4f008","name":"InputScanning","comments":"","position":{"x":-2736.0,"y":-1448.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"7ec30718-850e-3b2b-87f9-01498921ddf5"}],"outputPorts":[{"identifier":"06257111-4fbd-3242-87fe-4f8407dd96d1","instanceIdentifier":"d660140c-0194-1000-3d65-706efebc245b","name":"OutputScanned","position":{"x":-2264.0,"y":-1064.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"7ec30718-850e-3b2b-87f9-01498921ddf5"}],"connections":[{"identifier":"9b0846f7-3c2d-3a14-b93f-d7d0478fb556","instanceIdentifier":"d661c873-0194-1000-e31c-86c6630ddd41","name":"","source":{"id":"02223fa1-6deb-35ce-b1e2-fbf7788cc37f","type":"PROCESSOR","groupId":"7ec30718-850e-3b2b-87f9-01498921ddf5","name":"ScanContent","comments":"","instanceIdentifier":"d64afcb5-0194-1000-1c88-a636a22c1dce"},"destination":{"id":"21b40cba-2488-304b-8317-6fb41ced2dd4","type":"PROCESSOR","groupId":"7ec30718-850e-3b2b-87f9-01498921ddf5","name":"UpdateCounter","comments":"","instanceIdentifier":"d6619c5c-0194-1000-8d3f-dbc990144b97"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7ec30718-850e-3b2b-87f9-01498921ddf5"},{"identifier":"5069762c-b03b-3d4e-a150-a43f30dc3d2b","instanceIdentifier":"d661d583-0194-1000-ce7a-e4374c8ad28b","name":"","source":{"id":"21b40cba-2488-304b-8317-6fb41ced2dd4","type":"PROCESSOR","groupId":"7ec30718-850e-3b2b-87f9-01498921ddf5","name":"UpdateCounter","comments":"","instanceIdentifier":"d6619c5c-0194-1000-8d3f-dbc990144b97"},"destination":{"id":"5398f62d-b0ee-33d2-8344-ee00542c23d4","type":"PROCESSOR","groupId":"7ec30718-850e-3b2b-87f9-01498921ddf5","name":"PutSlack","comments":"","instanceIdentifier":"d65a82aa-0194-1000-f812-939911da2b28"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7ec30718-850e-3b2b-87f9-01498921ddf5"},{"identifier":"112f2ac5-b4d0-33ac-b496-5e0345bdfda3","instanceIdentifier":"d64b2b54-0194-1000-0a38-6fe4a30c5374","name":"","source":{"id":"708e5279-2f45-38cf-989d-534756684351","type":"INPUT_PORT","groupId":"7ec30718-850e-3b2b-87f9-01498921ddf5","name":"InputScanning","comments":"","instanceIdentifier":"d64a2e2c-0194-1000-e189-3d8a02c4f008"},"destination":{"id":"02223fa1-6deb-35ce-b1e2-fbf7788cc37f","type":"PROCESSOR","groupId":"7ec30718-850e-3b2b-87f9-01498921ddf5","name":"ScanContent","comments":"","instanceIdentifier":"d64afcb5-0194-1000-1c88-a636a22c1dce"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7ec30718-850e-3b2b-87f9-01498921ddf5"},{"identifier":"c3ed8c1e-8c0e-36d4-a6b8-a924baddc07e","instanceIdentifier":"d660350b-0194-1000-6fe0-eae7cbca40cd","name":"","source":{"id":"02223fa1-6deb-35ce-b1e2-fbf7788cc37f","type":"PROCESSOR","groupId":"7ec30718-850e-3b2b-87f9-01498921ddf5","name":"ScanContent","comments":"","instanceIdentifier":"d64afcb5-0194-1000-1c88-a636a22c1dce"},"destination":{"id":"06257111-4fbd-3242-87fe-4f8407dd96d1","type":"OUTPUT_PORT","groupId":"7ec30718-850e-3b2b-87f9-01498921ddf5","name":"OutputScanned","instanceIdentifier":"d660140c-0194-1000-3d65-706efebc245b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7ec30718-850e-3b2b-87f9-01498921ddf5"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"parameterContextName":"DataLakeParams","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"786f407a-bc3e-3ed4-a3eb-a9e70e5715d6"},{"identifier":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5","instanceIdentifier":"32d43296-c038-1da3-6546-acf177a0b122","name":"InsertWarehouse","comments":"","position":{"x":-2368.0,"y":-672.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0cf70425-312b-3f13-9fe6-dad7e725db4e","instanceIdentifier":"32d4329e-c038-1da3-4711-706bdd7eb63f","name":"SplitText","comments":"","position":{"x":-3008.0,"y":-1064.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5"},{"identifier":"cca2a53c-a223-3f6e-b3df-64534fcef1ab","instanceIdentifier":"32d432a6-c038-1da3-15e3-f11a013d7034","name":"Insert into Warehouse","comments":"","position":{"x":-2992.0,"y":-672.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Support Fragmented Transactions":"false","putsql-sql-statement":"INSERT INTO warehouse (userid, name, age, street, city, state, zip)\nVALUES ('${userid}', '${name}', '${age}', '${street}', '${city}', '${state}', '${zip}')\nON CONFLICT (userid) DO UPDATE \nSET name = EXCLUDED.name,\n    age = EXCLUDED.age,\n    street = EXCLUDED.street,\n    city = EXCLUDED.city,\n    state = EXCLUDED.state,\n    zip = EXCLUDED.zip;","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"ef45ab74-4478-3964-9a4e-00f01f8f672a","database-session-autocommit":"false","rollback-on-failure":"true"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5"},{"identifier":"d7a0cc03-faa1-384b-84d4-24ff77205313","instanceIdentifier":"32d432a3-c038-1da3-bfe2-9664ba8c5e31","name":"EvaluateJsonPath","comments":"","position":{"x":-3000.0,"y":-872.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"zip":"$.zip","Destination":"flowfile-attribute","Max String Length":"20 MB","city":"$.city","street":"$.street","Return Type":"auto-detect","name":"$.name","Null Value Representation":"empty string","state":"$.state","userid":"$.userid","age":"$.age","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"zip":{"name":"zip","displayName":"zip","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"city":{"name":"city","displayName":"city","identifiesControllerService":false,"sensitive":false},"street":{"name":"street","displayName":"street","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"name":{"name":"name","displayName":"name","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"state":{"name":"state","displayName":"state","identifiesControllerService":false,"sensitive":false},"userid":{"name":"userid","displayName":"userid","identifiesControllerService":false,"sensitive":false},"age":{"name":"age","displayName":"age","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5"},{"identifier":"5e7cfb22-39a5-3860-b9ca-254ca716d152","instanceIdentifier":"32d432aa-c038-1da3-db30-8ff3ac8e7323","name":"UpdateCounter","comments":"","position":{"x":-2512.0,"y":-872.0},"type":"org.apache.nifi.processors.standard.UpdateCounter","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"counter-name":"InsertedWarehouse","delta":"1"},"propertyDescriptors":{"counter-name":{"name":"counter-name","displayName":"Counter Name","identifiesControllerService":false,"sensitive":false},"delta":{"name":"delta","displayName":"Delta","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5"},{"identifier":"275017eb-d98f-3529-afad-a9e102eea378","instanceIdentifier":"32d4329a-c038-1da3-ff38-8aa40e8310b8","name":"Query Staging to Insert Warehouse","comments":"","position":{"x":-3008.0,"y":-1272.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"ebe52643-61d5-38a7-abd4-94522c6ae59e","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"ef45ab74-4478-3964-9a4e-00f01f8f672a","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT * FROM staging","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5"}],"inputPorts":[{"identifier":"4a84cabe-a3e1-3255-a7a9-35f1ec461e4d","instanceIdentifier":"32d43297-c038-1da3-1059-0c994078cca7","name":"InputWarehouse","position":{"x":-2952.0,"y":-1424.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5"}],"outputPorts":[],"connections":[{"identifier":"d04f2361-49e9-3593-8245-e196b6f83c95","instanceIdentifier":"32d4329f-c038-1da3-c921-793b02a054eb","name":"","source":{"id":"275017eb-d98f-3529-afad-a9e102eea378","type":"PROCESSOR","groupId":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5","name":"Query Staging to Insert Warehouse","comments":"","instanceIdentifier":"32d4329a-c038-1da3-ff38-8aa40e8310b8"},"destination":{"id":"0cf70425-312b-3f13-9fe6-dad7e725db4e","type":"PROCESSOR","groupId":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5","name":"SplitText","comments":"","instanceIdentifier":"32d4329e-c038-1da3-4711-706bdd7eb63f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5"},{"identifier":"c9ef11c5-c538-35ed-99c0-faa9f40938bd","instanceIdentifier":"32d432ab-c038-1da3-ce2f-551af20ab03a","name":"","source":{"id":"cca2a53c-a223-3f6e-b3df-64534fcef1ab","type":"PROCESSOR","groupId":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5","name":"Insert into Warehouse","comments":"","instanceIdentifier":"32d432a6-c038-1da3-15e3-f11a013d7034"},"destination":{"id":"5e7cfb22-39a5-3860-b9ca-254ca716d152","type":"PROCESSOR","groupId":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5","name":"UpdateCounter","comments":"","instanceIdentifier":"32d432aa-c038-1da3-db30-8ff3ac8e7323"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5"},{"identifier":"00fbd83f-90c2-3115-bce8-f7ee73f5a33c","instanceIdentifier":"32d4329c-c038-1da3-6246-55ae461c6864","name":"","source":{"id":"4a84cabe-a3e1-3255-a7a9-35f1ec461e4d","type":"INPUT_PORT","groupId":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5","name":"InputWarehouse","instanceIdentifier":"32d43297-c038-1da3-1059-0c994078cca7"},"destination":{"id":"275017eb-d98f-3529-afad-a9e102eea378","type":"PROCESSOR","groupId":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5","name":"Query Staging to Insert Warehouse","comments":"","instanceIdentifier":"32d4329a-c038-1da3-ff38-8aa40e8310b8"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5"},{"identifier":"e1484d76-4dba-33d8-8cb7-a470b2df523e","instanceIdentifier":"32d432a4-c038-1da3-692b-14d86ba77fea","name":"","source":{"id":"0cf70425-312b-3f13-9fe6-dad7e725db4e","type":"PROCESSOR","groupId":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5","name":"SplitText","comments":"","instanceIdentifier":"32d4329e-c038-1da3-4711-706bdd7eb63f"},"destination":{"id":"d7a0cc03-faa1-384b-84d4-24ff77205313","type":"PROCESSOR","groupId":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"32d432a3-c038-1da3-bfe2-9664ba8c5e31"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5"},{"identifier":"207671fe-ff9a-318d-a158-e2471c2f2ebb","instanceIdentifier":"32d432a7-c038-1da3-d0ee-a53545c66511","name":"","source":{"id":"d7a0cc03-faa1-384b-84d4-24ff77205313","type":"PROCESSOR","groupId":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"32d432a3-c038-1da3-bfe2-9664ba8c5e31"},"destination":{"id":"cca2a53c-a223-3f6e-b3df-64534fcef1ab","type":"PROCESSOR","groupId":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5","name":"Insert into Warehouse","comments":"","instanceIdentifier":"32d432a6-c038-1da3-15e3-f11a013d7034"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"ebe52643-61d5-38a7-abd4-94522c6ae59e","instanceIdentifier":"32d4329d-c038-1da3-227a-1586db53e6b0","name":"JsonRecordSetWriterQueryStaging","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.1"},"properties":{"schema-branch":null,"Allow Scientific Notation":"true","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5"},{"identifier":"ef45ab74-4478-3964-9a4e-00f01f8f672a","instanceIdentifier":"32d4329b-c038-1da3-f97f-26445ef1f604","name":"DBCPConnectionPool_QueryStaging","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.28.1"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"#{DatabaseDriverClassName}","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://localhost/#{database}","dbcp-time-between-eviction-runs":"-1","Database User":"#{postgres_username}","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"#{DatabaseDriverLocation}","dbcp-max-idle-conns":"8","Password":"#{postgres_password}"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.1"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5"}],"variables":{},"parameterContextName":"DataLakeParams","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"786f407a-bc3e-3ed4-a3eb-a9e70e5715d6"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"9cac17bb-3268-32ff-bd9f-587e34a8e5d9","instanceIdentifier":"db9d3e46-0194-1000-5b40-e5f037437d9e","name":"","source":{"id":"df678296-559c-3cb5-8be8-e5b3618bec3f","type":"OUTPUT_PORT","groupId":"0cf3c1b5-9099-35d6-8c83-2d758ea47406","name":"OutputQueryStaging","instanceIdentifier":"db39e4f1-0194-1000-1d0e-9574fe8dde00"},"destination":{"id":"6b986b02-4d28-3442-ba06-810089669ef0","type":"INPUT_PORT","groupId":"385dba07-b173-3e59-9bfb-81b322a15a6a","name":"InputValidation","instanceIdentifier":"db9d1e50-0194-1000-6949-aeab2edb03cc"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"786f407a-bc3e-3ed4-a3eb-a9e70e5715d6"},{"identifier":"b6f35afd-066d-3bb5-813c-2c3af283e99c","instanceIdentifier":"d6a2ee2b-0194-1000-5dda-503b464dcaa3","name":"","source":{"id":"8e9e132c-e479-33cd-9493-8d7142e0fe8f","type":"OUTPUT_PORT","groupId":"2f74398a-52db-37e4-8218-c7c3d7843ae0","name":"OutputDataLake","instanceIdentifier":"d63485ed-0194-1000-9cc7-f3af8f978a67"},"destination":{"id":"6186407e-1574-3730-868d-5270885ce51e","type":"INPUT_PORT","groupId":"34060ae0-a60a-37a9-a38b-bca43d7ff661","name":"InputStaging","instanceIdentifier":"d6a2bd93-0194-1000-2fff-da7d8b774a06"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"786f407a-bc3e-3ed4-a3eb-a9e70e5715d6"},{"identifier":"9226bb62-4b2f-3b09-9e95-624c3c64b90b","instanceIdentifier":"dacd3aa6-0194-1000-2feb-98b072233830","name":"","source":{"id":"a3d080c6-6637-38cd-bafa-4f65b979b13a","type":"OUTPUT_PORT","groupId":"34060ae0-a60a-37a9-a38b-bca43d7ff661","name":"OutputStaging","instanceIdentifier":"d6b677da-0194-1000-129c-813fc793c67b"},"destination":{"id":"4cbc8d71-9ce4-3838-8c94-d07807142704","type":"INPUT_PORT","groupId":"0cf3c1b5-9099-35d6-8c83-2d758ea47406","name":"InputQuering","instanceIdentifier":"dacd186d-0194-1000-7bf0-7502bfdd2e3f"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"786f407a-bc3e-3ed4-a3eb-a9e70e5715d6"},{"identifier":"7a136497-634f-32e7-a169-3db9d7388757","instanceIdentifier":"32d43298-c038-1da3-183b-f21d95deeb68","name":"","source":{"id":"afb37903-ec73-3f91-81e8-f51bb6488cda","type":"OUTPUT_PORT","groupId":"385dba07-b173-3e59-9bfb-81b322a15a6a","name":"OutputValidationPass","instanceIdentifier":"32d4328b-c038-1da3-e52c-36e8b0d446cc"},"destination":{"id":"4a84cabe-a3e1-3255-a7a9-35f1ec461e4d","type":"INPUT_PORT","groupId":"3517f591-88c3-3dcc-8cb7-9eb20f90bbd5","name":"InputWarehouse","instanceIdentifier":"32d43297-c038-1da3-1059-0c994078cca7"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"786f407a-bc3e-3ed4-a3eb-a9e70e5715d6"},{"identifier":"aad7fe78-9bae-3638-888e-95671a673ae5","instanceIdentifier":"d6a341e5-0194-1000-0520-6f6f769efbd5","name":"","source":{"id":"8e9e132c-e479-33cd-9493-8d7142e0fe8f","type":"OUTPUT_PORT","groupId":"2f74398a-52db-37e4-8218-c7c3d7843ae0","name":"OutputDataLake","instanceIdentifier":"d63485ed-0194-1000-9cc7-f3af8f978a67"},"destination":{"id":"708e5279-2f45-38cf-989d-534756684351","type":"INPUT_PORT","groupId":"7ec30718-850e-3b2b-87f9-01498921ddf5","name":"InputScanning","comments":"","instanceIdentifier":"d64a2e2c-0194-1000-e189-3d8a02c4f008"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"786f407a-bc3e-3ed4-a3eb-a9e70e5715d6"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"parameterContextName":"DataLakeParams","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"DataLakeParams":{"name":"DataLakeParams","parameters":[{"name":"postgres_username","description":"","sensitive":false,"provided":false,"value":"postgres"},{"name":"database","description":"values: \n1. test\n2. production","sensitive":false,"provided":false,"value":"test"},{"name":"DatabaseDriverClassName","description":"","sensitive":false,"provided":false,"value":"org.postgresql.Driver"},{"name":"DatabaseDriverLocation","description":"","sensitive":false,"provided":false,"value":"/home/vfilip/nifi/nifi-1.28.1/drivers/postgresql-42.7.4.jar"},{"name":"postgres_password","description":"","sensitive":true,"provided":false},{"name":"SlackWebhookURL","description":"","sensitive":true,"provided":false}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}