CrickarDataEngPython/nifi_flow_definitions/DistributedDataPipeline101.json
{"flowContents":{"identifier":"b48f1258-d1e2-36f4-b6ae-fa6cdc21b03d","instanceIdentifier":"3838ff10-0195-1000-ffff-ffffe205eff7","name":"DistributedDataPipeline101","comments":"","position":{"x":-2848.0,"y":-1296.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"19d686f0-728f-3842-9f7e-14c37c63421d","instanceIdentifier":"383b91a5-0195-1000-ffff-fffff971c254","name":"AttributesToJSON","comments":"","position":{"x":-2992.0,"y":-1168.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":null,"Pretty Print":"false","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b48f1258-d1e2-36f4-b6ae-fa6cdc21b03d"},{"identifier":"25ad34ba-37c6-30d8-bdfe-abe1be052cfa","instanceIdentifier":"38396d2a-0195-1000-0000-000007e8dc7f","name":"GenerateFlowFile","comments":"","position":{"x":-2992.0,"y":-1376.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"filename":"${UUID()}","generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b48f1258-d1e2-36f4-b6ae-fa6cdc21b03d"},{"identifier":"40f3febd-fd77-36f1-83af-387ea677eef1","instanceIdentifier":"3840233b-0195-1000-ffff-ffff99aa546d","name":"PutFile","comments":"","position":{"x":-2984.0,"y":-976.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"false","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/vfilip/nifi/nifi-cluster-output","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b48f1258-d1e2-36f4-b6ae-fa6cdc21b03d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"e11394db-72a8-36ae-a3b8-c2065af625f9","instanceIdentifier":"383bb20b-0195-1000-ffff-ffff81b31d0c","name":"","source":{"id":"25ad34ba-37c6-30d8-bdfe-abe1be052cfa","type":"PROCESSOR","groupId":"b48f1258-d1e2-36f4-b6ae-fa6cdc21b03d","name":"GenerateFlowFile","comments":"","instanceIdentifier":"38396d2a-0195-1000-0000-000007e8dc7f"},"destination":{"id":"19d686f0-728f-3842-9f7e-14c37c63421d","type":"PROCESSOR","groupId":"b48f1258-d1e2-36f4-b6ae-fa6cdc21b03d","name":"AttributesToJSON","comments":"","instanceIdentifier":"383b91a5-0195-1000-ffff-fffff971c254"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48f1258-d1e2-36f4-b6ae-fa6cdc21b03d"},{"identifier":"b0d9a775-4c7b-3ada-a694-6191eab5cd80","instanceIdentifier":"386714eb-0195-1000-ffff-fffff149d34b","name":"","source":{"id":"19d686f0-728f-3842-9f7e-14c37c63421d","type":"PROCESSOR","groupId":"b48f1258-d1e2-36f4-b6ae-fa6cdc21b03d","name":"AttributesToJSON","comments":"","instanceIdentifier":"383b91a5-0195-1000-ffff-fffff971c254"},"destination":{"id":"40f3febd-fd77-36f1-83af-387ea677eef1","type":"PROCESSOR","groupId":"b48f1258-d1e2-36f4-b6ae-fa6cdc21b03d","name":"PutFile","comments":"","instanceIdentifier":"3840233b-0195-1000-ffff-ffff99aa546d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b48f1258-d1e2-36f4-b6ae-fa6cdc21b03d"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}