CrickarDataEngPython/nifi_flow_definitions/MiNiFiDataPipeline.json
{"flowContents":{"identifier":"a6eb7d88-a37b-3aa5-9902-65cc3fc71bfd","instanceIdentifier":"1ecfac38-0195-1000-81b9-7c327bd1fbf3","name":"MiNiFiDataPipeline","comments":"","position":{"x":-2288.0,"y":-1040.0},"processGroups":[{"identifier":"cfc20dc0-2865-32bb-9811-e8dc5ffa2459","instanceIdentifier":"1ed87ea2-0195-1000-2268-3f846fb4ea4d","name":"minifitask","comments":"","position":{"x":-3256.0,"y":-912.0},"processGroups":[],"remoteProcessGroups":[{"identifier":"d014c4aa-efae-3c48-a404-4b5ff3177cc1","instanceIdentifier":"1ede0c82-0195-1000-bc13-6e82122be49c","name":"NiFi Flow","comments":"","position":{"x":-3072.0,"y":-1064.0},"targetUri":"http://localhost:9300/nifi/","targetUris":"http://localhost:9300/nifi/","communicationsTimeout":"30 sec","yieldDuration":"10 sec","transportProtocol":"HTTP","proxyHost":"","proxyUser":"","inputPorts":[{"identifier":"28da87d7-792b-3664-95af-1c43cefb25a0","instanceIdentifier":"4dfd0615-016e-373b-9b3b-b7d497c0bc56","name":"From MiNiFi","comments":"","remoteGroupId":"d014c4aa-efae-3c48-a404-4b5ff3177cc1","concurrentlySchedulableTaskCount":1,"useCompression":false,"batchSize":{},"componentType":"REMOTE_INPUT_PORT","targetId":"01951000-3bed-1ed1-5884-8255086dc281","scheduledState":"ENABLED","groupIdentifier":"d014c4aa-efae-3c48-a404-4b5ff3177cc1"}],"outputPorts":[],"componentType":"REMOTE_PROCESS_GROUP","groupIdentifier":"cfc20dc0-2865-32bb-9811-e8dc5ffa2459"}],"processors":[{"identifier":"3325557a-c52d-382a-9df8-ffdb13668084","instanceIdentifier":"1ed90ac5-0195-1000-b91c-4483fb3ac64a","name":"GenerateFlowFile","comments":"","position":{"x":-3088.0,"y":-1352.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"{\"fname\":\"minifi.txt\",\"body\":\"Some text\"}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"cfc20dc0-2865-32bb-9811-e8dc5ffa2459"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"cc5f8c79-1d41-3fc4-b609-8a8611a5d39b","instanceIdentifier":"22bb3361-0195-1000-9856-366ccdb7d176","name":"","source":{"id":"3325557a-c52d-382a-9df8-ffdb13668084","type":"PROCESSOR","groupId":"cfc20dc0-2865-32bb-9811-e8dc5ffa2459","name":"GenerateFlowFile","comments":"","instanceIdentifier":"1ed90ac5-0195-1000-b91c-4483fb3ac64a"},"destination":{"id":"28da87d7-792b-3664-95af-1c43cefb25a0","type":"REMOTE_INPUT_PORT","groupId":"d014c4aa-efae-3c48-a404-4b5ff3177cc1","name":"From MiNiFi","comments":"","instanceIdentifier":"4dfd0615-016e-373b-9b3b-b7d497c0bc56"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"cfc20dc0-2865-32bb-9811-e8dc5ffa2459"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"a6eb7d88-a37b-3aa5-9902-65cc3fc71bfd"}],"remoteProcessGroups":[],"processors":[{"identifier":"2634d1e9-793f-3732-a2a6-cd3d6255769d","instanceIdentifier":"1ed40e78-0195-1000-13ab-6d0d4ef4dadf","name":"UpdateAttribute","comments":"","position":{"x":-2632.0,"y":-1120.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.28.1"},"properties":{"Delete Attributes Expression":null,"filename":"${fname}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6eb7d88-a37b-3aa5-9902-65cc3fc71bfd"},{"identifier":"d3612e83-7a88-36da-af2d-3542622dbcd0","instanceIdentifier":"1ed1b31d-0195-1000-7cfd-a9e43f1f42b3","name":"EvaluateJsonPath","comments":"","position":{"x":-2632.0,"y":-1320.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Destination":"flowfile-attribute","fname":"$.fname","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"fname":{"name":"fname","displayName":"fname","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6eb7d88-a37b-3aa5-9902-65cc3fc71bfd"},{"identifier":"18843d71-2a50-3cb6-806b-b7ad6cb2e927","instanceIdentifier":"1ed56a9c-0195-1000-eb66-8056fb1694ed","name":"PutFile","comments":"","position":{"x":-2624.0,"y":-928.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/vfilip/nifi/nifi-1.28.1/nifi_output","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a6eb7d88-a37b-3aa5-9902-65cc3fc71bfd"}],"inputPorts":[{"identifier":"2c29f5d6-d308-3ed7-9772-a32c65b12eef","instanceIdentifier":"1ed13bed-0195-1000-214b-fb2dc680b46a","name":"Input to MiNiFiProcessGroup","comments":"","position":{"x":-3032.0,"y":-1416.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"a6eb7d88-a37b-3aa5-9902-65cc3fc71bfd"}],"outputPorts":[],"connections":[{"identifier":"9463793a-ffda-37fa-a05d-bd18a1d23467","instanceIdentifier":"1ed42f63-0195-1000-9ef5-27640247bc8d","name":"","source":{"id":"d3612e83-7a88-36da-af2d-3542622dbcd0","type":"PROCESSOR","groupId":"a6eb7d88-a37b-3aa5-9902-65cc3fc71bfd","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"1ed1b31d-0195-1000-7cfd-a9e43f1f42b3"},"destination":{"id":"2634d1e9-793f-3732-a2a6-cd3d6255769d","type":"PROCESSOR","groupId":"a6eb7d88-a37b-3aa5-9902-65cc3fc71bfd","name":"UpdateAttribute","comments":"","instanceIdentifier":"1ed40e78-0195-1000-13ab-6d0d4ef4dadf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6eb7d88-a37b-3aa5-9902-65cc3fc71bfd"},{"identifier":"a1854f74-de98-35b0-9108-da0130e5c0b5","instanceIdentifier":"1ed1f25d-0195-1000-3b44-f171ef1acdc8","name":"","source":{"id":"2c29f5d6-d308-3ed7-9772-a32c65b12eef","type":"INPUT_PORT","groupId":"a6eb7d88-a37b-3aa5-9902-65cc3fc71bfd","name":"Input to MiNiFiProcessGroup","comments":"","instanceIdentifier":"1ed13bed-0195-1000-214b-fb2dc680b46a"},"destination":{"id":"d3612e83-7a88-36da-af2d-3542622dbcd0","type":"PROCESSOR","groupId":"a6eb7d88-a37b-3aa5-9902-65cc3fc71bfd","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"1ed1b31d-0195-1000-7cfd-a9e43f1f42b3"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6eb7d88-a37b-3aa5-9902-65cc3fc71bfd"},{"identifier":"85d99d9c-537d-38c9-8030-022e2123ffd1","instanceIdentifier":"1ed596bc-0195-1000-677e-7c7dadb3c1ae","name":"","source":{"id":"2634d1e9-793f-3732-a2a6-cd3d6255769d","type":"PROCESSOR","groupId":"a6eb7d88-a37b-3aa5-9902-65cc3fc71bfd","name":"UpdateAttribute","comments":"","instanceIdentifier":"1ed40e78-0195-1000-13ab-6d0d4ef4dadf"},"destination":{"id":"18843d71-2a50-3cb6-806b-b7ad6cb2e927","type":"PROCESSOR","groupId":"a6eb7d88-a37b-3aa5-9902-65cc3fc71bfd","name":"PutFile","comments":"","instanceIdentifier":"1ed56a9c-0195-1000-eb66-8056fb1694ed"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a6eb7d88-a37b-3aa5-9902-65cc3fc71bfd"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}