CrickarDataEngPython/nifi_flow_definitions/mySCF.json
{"flowContents":{"identifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4","instanceIdentifier":"8d21c527-0194-1000-5a0d-247c49076e53","name":"mySCF","comments":"","position":{"x":-2840.0,"y":-1320.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"86b77d50-0511-303c-bb19-65fe3dc2fe47","instanceIdentifier":"a1e44312-0194-1000-e2f9-9cb6c8cffaa4","name":"My Query SCF Archive","comments":"","position":{"x":-3768.0,"y":-1424.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.28.1"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.nifi.processor.io.StreamCallback\nimport org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\n\n// Custom StreamCallback implementation\nclass ModJSON implements StreamCallback {\n    @Override\n    void process(InputStream inputStream, OutputStream outputStream) {\n        def errorOccurred = false\n        try {\n            // Construct the API URL with parameters\n            def placeUrl = \"bernalillo-county\"\n            def perPage = 100\n            def status = \"Archived\"\n            def apiUrl = \"https://seeclickfix.com/api/v2/issues?place_url=${placeUrl}&per_page=${perPage}&status=${status}\"\n\n            // Make HTTP request and parse JSON response\n            def connection = new URL(apiUrl).openConnection()\n            connection.setRequestMethod(\"GET\")\n            connection.setRequestProperty(\"Accept\", \"application/json\")\n            connection.connect()\n\n            def rawReply = connection.inputStream.text\n            def jsonReply = new JsonSlurper().parseText(rawReply)\n\n            // Write the JSON response to the output stream\n            outputStream.write(JsonOutput.prettyPrint(JsonOutput.toJson(jsonReply)).getBytes(StandardCharsets.UTF_8))\n        } catch (Exception e) {\n            errorOccurred = true\n            log.error(\"Error occurred while fetching data from API: ${e.message}\", e)\n\n            // Handle the error by writing a failure response\n            def errorResponse = [error: \"An error occurred during the script execution\"]\n            outputStream.write(JsonOutput.prettyPrint(JsonOutput.toJson(errorResponse)).getBytes(StandardCharsets.UTF_8))\n        }\n    }\n}\n\n// Main script logic\ndef flowFile = session.get()\nif (flowFile != null) {\n    try {\n        flowFile = session.write(flowFile, new ModJSON())\n        session.transfer(flowFile, REL_SUCCESS)\n    } catch (Exception e) {\n        log.error(\"Error processing FlowFile: ${e.message}\", e)\n        session.transfer(flowFile, REL_FAILURE)\n    }\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"},{"identifier":"acdf44a2-a94c-31f9-9b53-d63473f248aa","instanceIdentifier":"bc1df804-0194-1000-e736-3a9c0cdb8ada","name":"PutSlack","comments":"","position":{"x":-3376.0,"y":-704.0},"type":"org.apache.nifi.processors.slack.PutSlack","bundle":{"group":"org.apache.nifi","artifact":"nifi-slack-nar","version":"1.28.1"},"properties":{"icon-emoji":":robot_face:","SSL Context Service":null,"webhook-text":"${id:append(': NiFi Alert - Record failed Upsert Elasticsearch')}","channel":"#studying-data-engineering","icon-url":null,"username":"NiFi Bot"},"propertyDescriptors":{"icon-emoji":{"name":"icon-emoji","displayName":"Icon Emoji","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"webhook-url":{"name":"webhook-url","displayName":"Webhook URL","identifiesControllerService":false,"sensitive":true},"webhook-text":{"name":"webhook-text","displayName":"Webhook Text","identifiesControllerService":false,"sensitive":false},"channel":{"name":"channel","displayName":"Channel","identifiesControllerService":false,"sensitive":false},"icon-url":{"name":"icon-url","displayName":"Icon URL","identifiesControllerService":false,"sensitive":false},"username":{"name":"username","displayName":"Username","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"},{"identifier":"eba31de3-d7e6-300f-b2ba-cda7011af7ff","instanceIdentifier":"9c033e0d-66af-108a-1992-7c76adb4da67","name":"My Start Flow Fake Data","comments":"","position":{"x":-3128.0,"y":-1640.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"8 h","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"},{"identifier":"3d238490-4bc9-3051-85be-f0589640399a","instanceIdentifier":"9c033e0e-66af-108a-060d-10de2d207090","name":"My Query SCF","comments":"","position":{"x":-3120.0,"y":-1392.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.28.1"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.nifi.processor.io.StreamCallback\nimport org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\n\n// Custom StreamCallback implementation\nclass ModJSON implements StreamCallback {\n    @Override\n    void process(InputStream inputStream, OutputStream outputStream) {\n        def errorOccurred = false\n        try {\n            // Construct the API URL with parameters\n            def placeUrl = \"bernalillo-county\"\n            def perPage = 100\n            def apiUrl = \"https://seeclickfix.com/api/v2/issues?place_url=${placeUrl}&per_page=${perPage}\"\n\n            // Make HTTP request and parse JSON response\n            def connection = new URL(apiUrl).openConnection()\n            connection.setRequestMethod(\"GET\")\n            connection.setRequestProperty(\"Accept\", \"application/json\")\n            connection.connect()\n\n            def rawReply = connection.inputStream.text\n            def jsonReply = new JsonSlurper().parseText(rawReply)\n\n            // Write the JSON response to the output stream\n            outputStream.write(JsonOutput.prettyPrint(JsonOutput.toJson(jsonReply)).getBytes(StandardCharsets.UTF_8))\n        } catch (Exception e) {\n            errorOccurred = true\n            log.error(\"Error occurred while fetching data from API: ${e.message}\", e)\n\n            // Handle the error by writing a failure response\n            def errorResponse = [error: \"An error occurred during the script execution\"]\n            outputStream.write(JsonOutput.prettyPrint(JsonOutput.toJson(errorResponse)).getBytes(StandardCharsets.UTF_8))\n        }\n    }\n}\n\n// Main script logic\ndef flowFile = session.get()\nif (flowFile != null) {\n    try {\n        flowFile = session.write(flowFile, new ModJSON())\n        session.transfer(flowFile, REL_SUCCESS)\n    } catch (Exception e) {\n        log.error(\"Error processing FlowFile: ${e.message}\", e)\n        session.transfer(flowFile, REL_FAILURE)\n    }\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"},{"identifier":"8c273ebf-8942-38fc-b402-2b5ecec65f08","instanceIdentifier":"9c033e16-66af-108a-d61d-47ba77e8337d","name":"My ElasticSCF","comments":"","position":{"x":-4064.0,"y":-704.0},"type":"org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp","bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-nar","version":"1.28.1"},"properties":{"elasticsearch-http-response-timeout":"15 secs","put-es-id-attr":"id","put-es-type":null,"put-es-index":"scf","proxy-configuration-service":null,"elasticsearch-http-url":"http://localhost:9200","put-es-batch-size":"100","SSL Context Service":null,"elasticsearch-http-connect-timeout":"5 secs","Username":null,"put-es-index-op":"upsert","elasticsearch-http-proxy-host":null,"proxy-username":null,"elasticsearch-http-proxy-port":null,"Character Set":"UTF-8"},"propertyDescriptors":{"elasticsearch-http-response-timeout":{"name":"elasticsearch-http-response-timeout","displayName":"Response Timeout","identifiesControllerService":false,"sensitive":false},"put-es-id-attr":{"name":"put-es-id-attr","displayName":"Identifier Attribute","identifiesControllerService":false,"sensitive":false},"put-es-type":{"name":"put-es-type","displayName":"Type","identifiesControllerService":false,"sensitive":false},"put-es-index":{"name":"put-es-index","displayName":"Index","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"elasticsearch-http-url":{"name":"elasticsearch-http-url","displayName":"Elasticsearch URL","identifiesControllerService":false,"sensitive":false},"put-es-batch-size":{"name":"put-es-batch-size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"elasticsearch-http-connect-timeout":{"name":"elasticsearch-http-connect-timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"put-es-index-op":{"name":"put-es-index-op","displayName":"Index Operation","identifiesControllerService":false,"sensitive":false},"elasticsearch-http-proxy-host":{"name":"elasticsearch-http-proxy-host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"proxy-username":{"name":"proxy-username","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"proxy-password":{"name":"proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"elasticsearch-http-proxy-port":{"name":"elasticsearch-http-proxy-port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"},{"identifier":"2f6c6133-a222-38c2-9ab1-a01de5fda657","instanceIdentifier":"9c033e14-66af-108a-824d-7f9568090a37","name":"EvaluateJsonPath","comments":"","position":{"x":-3576.0,"y":-928.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","id":"$.id","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"id":{"name":"id","displayName":"id","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"},{"identifier":"7d6fd0f8-5813-3ac3-9ecd-24ce7775c537","instanceIdentifier":"9c033e12-66af-108a-aae9-c61d71636423","name":"My coords","comments":"","position":{"x":-3104.0,"y":-920.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.28.1"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import groovy.json.JsonOutput\nimport groovy.json.JsonSlurper\nimport org.apache.nifi.processor.io.StreamCallback\n\nclass MyCoords implements StreamCallback {\n    @Override\n    void process(InputStream inputStream, OutputStream outputStream) {\n        try {\n            def inputText = inputStream.text\n            def reply = new JsonSlurper().parseText(inputText)\n\n            // Adding 'coords' field\n            reply['coords'] = \"${reply.lat},${reply.lng}\"\n\n            // Adding 'opendate' field\n            def dateParts = reply.created_at?.split('T')\n            reply['opendate'] = dateParts ? dateParts[0] : null\n\n            outputStream.write(JsonOutput.prettyPrint(JsonOutput.toJson(reply)).bytes)\n        } catch (Exception e) {\n            throw new RuntimeException(\"Error processing JSON: \" + e.message, e)\n        }\n    }\n}\n\ndef flowFile = session.get()\nif (flowFile != null) {\n    try {\n        flowFile = session.write(flowFile, new MyCoords())\n        session.transfer(flowFile, REL_SUCCESS)\n    } catch (Exception e) {\n        log.error(\"Error processing FlowFile: ${e.message}\", e)\n        session.transfer(flowFile, REL_FAILURE)\n    }\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"},{"identifier":"bdf272a3-829c-3a79-a21c-e03ea6a0e23a","instanceIdentifier":"85733ca0-67d3-1af6-0edd-78a8dd4e0666","name":"My Get Every Page","comments":"","position":{"x":-4048.0,"y":-1096.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.28.1"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import groovy.json.JsonOutput\nimport groovy.json.JsonSlurper\nimport org.apache.nifi.processor.io.StreamCallback\n\n// Define a shared object to hold \"global\" variables\nclass GlobalState {\n    static boolean errorOccurred = false\n}\n\nclass GetEveryPage implements StreamCallback {\n    @Override\n    void process(InputStream inputStream, OutputStream outputStream) {\n        try {\n            def inputText = inputStream.text\n            def asjson = new JsonSlurper().parseText(inputText)\n\n            def pagination = asjson?.metadata?.pagination\n            if (pagination?.page && pagination.page <= pagination.pages) {\n                def url = pagination.next_page_url\n                def connection = new URL(url).openConnection()\n                def rawReply = connection.inputStream.text\n\n                def reply = new JsonSlurper().parseText(rawReply)\n                outputStream.write(JsonOutput.prettyPrint(JsonOutput.toJson(reply)).bytes)\n            } else {\n                global errorOccurred\n                GlobalState.errorOccurred = true\n                // log.info(\"Last page reached or pagination metadata missing.\")\n                outputStream.write(JsonOutput.prettyPrint(JsonOutput.toJson(asjson)).bytes)\n            }\n        } catch (Exception e) {\n            GlobalState.errorOccurred = true\n            throw new RuntimeException(\"Error fetching pages: \" + e.message, e)\n        }\n    }\n}\n\nGlobalState.errorOccurred = false\ndef flowFile = session.get()\nif (flowFile != null) {\n    try {\n        flowFile = session.write(flowFile, new GetEveryPage())\n        if (GlobalState.errorOccurred) {\n            session.transfer(flowFile, REL_FAILURE)\n        } else {\n            session.transfer(flowFile, REL_SUCCESS)\n        }\n    } catch (Exception e) {\n        GlobalState.errorOccurred = true\n        // log.error(\"Error processing FlowFile: ${e.message}\", e)\n        session.transfer(flowFile, REL_FAILURE)\n    }\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"},{"identifier":"9c69e101-3ca0-33c1-8069-a2fb92ca06f8","instanceIdentifier":"bbe3f0bc-0194-1000-29cf-341f3192d277","name":"UpdateCounter","comments":"","position":{"x":-4056.0,"y":-920.0},"type":"org.apache.nifi.processors.standard.UpdateCounter","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"counter-name":"SCFtoElasticsearch","delta":"1"},"propertyDescriptors":{"counter-name":{"name":"counter-name","displayName":"Counter Name","identifiesControllerService":false,"sensitive":false},"delta":{"name":"delta","displayName":"Delta","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"},{"identifier":"331f0111-4412-37ef-9511-917c78bd3ae7","instanceIdentifier":"a1f1b50e-0194-1000-7285-07cc28cc31e2","name":"My Start Flow Fake Data ARCHIVE","comments":"","position":{"x":-3896.0,"y":-1648.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"8 h","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"},{"identifier":"f6251fd2-cbaa-3ca0-b6f3-353f7c5b7a7d","instanceIdentifier":"9c033e10-66af-108a-5a7f-6ebf50e18dbc","name":"SplitJson","comments":"","position":{"x":-3104.0,"y":-1168.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.1"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.issues"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"00cf20ef-d670-37ac-8c14-c2efd78f70fd","instanceIdentifier":"9c033e11-66af-108a-7b29-8b2cedc809b1","name":"","source":{"id":"3d238490-4bc9-3051-85be-f0589640399a","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"My Query SCF","comments":"","instanceIdentifier":"9c033e0e-66af-108a-060d-10de2d207090"},"destination":{"id":"f6251fd2-cbaa-3ca0-b6f3-353f7c5b7a7d","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"SplitJson","comments":"","instanceIdentifier":"9c033e10-66af-108a-5a7f-6ebf50e18dbc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"},{"identifier":"55b9aa74-667c-35d7-96aa-ed8453030196","instanceIdentifier":"85733ca1-67d3-1af6-7302-02e306f24746","name":"","source":{"id":"3d238490-4bc9-3051-85be-f0589640399a","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"My Query SCF","comments":"","instanceIdentifier":"9c033e0e-66af-108a-060d-10de2d207090"},"destination":{"id":"bdf272a3-829c-3a79-a21c-e03ea6a0e23a","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"My Get Every Page","comments":"","instanceIdentifier":"85733ca0-67d3-1af6-0edd-78a8dd4e0666"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"},{"identifier":"1f41cca0-0e0d-334c-a3dc-294f9480eaf2","instanceIdentifier":"a1f2d83d-0194-1000-07ea-2a7ca59c90be","name":"","source":{"id":"331f0111-4412-37ef-9511-917c78bd3ae7","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"My Start Flow Fake Data ARCHIVE","comments":"","instanceIdentifier":"a1f1b50e-0194-1000-7285-07cc28cc31e2"},"destination":{"id":"86b77d50-0511-303c-bb19-65fe3dc2fe47","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"My Query SCF Archive","comments":"","instanceIdentifier":"a1e44312-0194-1000-e2f9-9cb6c8cffaa4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"},{"identifier":"6d9e0b2f-63a9-3e71-a13a-5f12374d1190","instanceIdentifier":"a1e54f43-0194-1000-002e-404178e727e3","name":"","source":{"id":"86b77d50-0511-303c-bb19-65fe3dc2fe47","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"My Query SCF Archive","comments":"","instanceIdentifier":"a1e44312-0194-1000-e2f9-9cb6c8cffaa4"},"destination":{"id":"f6251fd2-cbaa-3ca0-b6f3-353f7c5b7a7d","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"SplitJson","comments":"","instanceIdentifier":"9c033e10-66af-108a-5a7f-6ebf50e18dbc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"},{"identifier":"f5d2bba9-1454-313e-8f02-888f216682dc","instanceIdentifier":"9c033e13-66af-108a-3568-d25506d1bf5f","name":"","source":{"id":"f6251fd2-cbaa-3ca0-b6f3-353f7c5b7a7d","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"SplitJson","comments":"","instanceIdentifier":"9c033e10-66af-108a-5a7f-6ebf50e18dbc"},"destination":{"id":"7d6fd0f8-5813-3ac3-9ecd-24ce7775c537","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"My coords","comments":"","instanceIdentifier":"9c033e12-66af-108a-aae9-c61d71636423"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"},{"identifier":"4a57e9d4-7ed1-3ec0-972e-e99e7c68c55e","instanceIdentifier":"a1e56b1d-0194-1000-de9b-c99ac62f070c","name":"","source":{"id":"86b77d50-0511-303c-bb19-65fe3dc2fe47","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"My Query SCF Archive","comments":"","instanceIdentifier":"a1e44312-0194-1000-e2f9-9cb6c8cffaa4"},"destination":{"id":"bdf272a3-829c-3a79-a21c-e03ea6a0e23a","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"My Get Every Page","comments":"","instanceIdentifier":"85733ca0-67d3-1af6-0edd-78a8dd4e0666"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"},{"identifier":"54453d3e-453d-3de4-bdc0-9c41dba32492","instanceIdentifier":"9e982ef8-0194-1000-7267-94dd6f034d35","name":"","source":{"id":"bdf272a3-829c-3a79-a21c-e03ea6a0e23a","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"My Get Every Page","comments":"","instanceIdentifier":"85733ca0-67d3-1af6-0edd-78a8dd4e0666"},"destination":{"id":"bdf272a3-829c-3a79-a21c-e03ea6a0e23a","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"My Get Every Page","comments":"","instanceIdentifier":"85733ca0-67d3-1af6-0edd-78a8dd4e0666"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-3569.19921875,"y":-1070.5723876953125},{"x":-3569.19921875,"y":-1020.5723876953125}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"},{"identifier":"e6ee62eb-0ea6-3b2b-b28f-243517be498e","instanceIdentifier":"9c033e15-66af-108a-3fdc-362e9acfb83e","name":"","source":{"id":"7d6fd0f8-5813-3ac3-9ecd-24ce7775c537","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"My coords","comments":"","instanceIdentifier":"9c033e12-66af-108a-aae9-c61d71636423"},"destination":{"id":"2f6c6133-a222-38c2-9ab1-a01de5fda657","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9c033e14-66af-108a-824d-7f9568090a37"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"},{"identifier":"07fd6f00-07d2-3e24-b664-806c07a153c6","instanceIdentifier":"bbe422b1-0194-1000-1417-79037a0d301a","name":"","source":{"id":"2f6c6133-a222-38c2-9ab1-a01de5fda657","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"9c033e14-66af-108a-824d-7f9568090a37"},"destination":{"id":"9c69e101-3ca0-33c1-8069-a2fb92ca06f8","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"UpdateCounter","comments":"","instanceIdentifier":"bbe3f0bc-0194-1000-29cf-341f3192d277"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"},{"identifier":"6a401d9d-4b4e-3e5b-9a2d-96411b8bffe6","instanceIdentifier":"bbe49791-0194-1000-f02f-9431cc32f9e1","name":"","source":{"id":"9c69e101-3ca0-33c1-8069-a2fb92ca06f8","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"UpdateCounter","comments":"","instanceIdentifier":"bbe3f0bc-0194-1000-29cf-341f3192d277"},"destination":{"id":"8c273ebf-8942-38fc-b402-2b5ecec65f08","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"My ElasticSCF","comments":"","instanceIdentifier":"9c033e16-66af-108a-d61d-47ba77e8337d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"},{"identifier":"2fe6851d-e8a7-3bfd-ac99-5cc64a84e7ae","instanceIdentifier":"9e980cd8-0194-1000-ecd0-2c2ac7091265","name":"","source":{"id":"bdf272a3-829c-3a79-a21c-e03ea6a0e23a","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"My Get Every Page","comments":"","instanceIdentifier":"85733ca0-67d3-1af6-0edd-78a8dd4e0666"},"destination":{"id":"f6251fd2-cbaa-3ca0-b6f3-353f7c5b7a7d","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"SplitJson","comments":"","instanceIdentifier":"9c033e10-66af-108a-5a7f-6ebf50e18dbc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"},{"identifier":"fc06736b-0900-34af-b6d1-485a2eb1e645","instanceIdentifier":"bc1e5615-0194-1000-1489-8b59e17eb141","name":"","source":{"id":"8c273ebf-8942-38fc-b402-2b5ecec65f08","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"My ElasticSCF","comments":"","instanceIdentifier":"9c033e16-66af-108a-d61d-47ba77e8337d"},"destination":{"id":"acdf44a2-a94c-31f9-9b53-d63473f248aa","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"PutSlack","comments":"","instanceIdentifier":"bc1df804-0194-1000-e736-3a9c0cdb8ada"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"},{"identifier":"f885bfd8-d29c-396f-9a3e-40b39f5dc704","instanceIdentifier":"9c033e0f-66af-108a-7a17-d183a0b42ccd","name":"","source":{"id":"eba31de3-d7e6-300f-b2ba-cda7011af7ff","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"My Start Flow Fake Data","comments":"","instanceIdentifier":"9c033e0d-66af-108a-1992-7c76adb4da67"},"destination":{"id":"3d238490-4bc9-3051-85be-f0589640399a","type":"PROCESSOR","groupId":"1284ade3-fb54-3892-ad61-f217ef1d52e4","name":"My Query SCF","comments":"","instanceIdentifier":"9c033e0e-66af-108a-060d-10de2d207090"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1284ade3-fb54-3892-ad61-f217ef1d52e4"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}